<app-filter-card [form]="form" [parentFilterComponent]="this">
  <c-row>
    <c-col>
      <app-guild-lookup formControlName="guildId" />
    </c-col>

    <c-col>
      <app-user-lookup formControlName="fromUserId" label="Navrhovatel" />
    </c-col>
  </c-row>

  <c-row class="mt-2">
    <c-col>
      <app-datetime-range formControlName="suggested" label="Navrhnuto" />
    </c-col>

    <c-col md="4">
      <app-text-input formControlName="nameContains" label="Název" />
    </c-col>

    <c-col>
      <label cLabel>Schváleno / Zamítnuto</label>
      <app-radio-group
        radioId="approvalState"
        formControlName="approvalState"
        [items]="approveItems"
      />
    </c-col>
  </c-row>
</app-filter-card>
