<app-card [header]="false">
    <p class="fw-bold">Aktivní operace</p>

    <app-loading *ngIf="loading; else view"></app-loading>
    <ng-template #view>
        <span *ngIf="items && items.length === 0; else operations">Aktuálně neprobíhá žádná operace.</span>

        <ng-template #operations>
            <span class="text-danger" *ngIf="!items">
                <i class="fas fa-exclamation-triangle me-1"></i> Nezdařilo se načíst seznam aktivních operací.
            </span>

            <div *ngFor="let item of items" class="d-flex justify-content-between border-bottom">
                <b>{{item.key}}</b>
                <span>{{item.value.toLocaleString()}}</span>
            </div>
        </ng-template>
    </ng-template>
</app-card>
