<div class="mb-3">
  <app-paginated-grid
    #grid
    [gridOptions]="gridOptions"
    [height]="'700px'"
    (reloadRequested)="reload()"
  />
</div>

<app-modal
  #messageModal
  [size]="'xl'"
  [title]="'Zpráva oznámení #' + modalRow?.id"
>
  <ng-container body>
    <c-alert class="mb-0 p-0" color="transparent">
      <pre class="m-0 p-0 text-wrap">{{ modalRow?.message }}</pre>
    </c-alert>
  </ng-container>
</app-modal>

<app-modal
  #cancelModal
  [title]="
    'Storno ' + (cancelModalRow?.notify ? 'a oznámení' : '') + ' upozornění'
  "
  [enableFooter]="true"
>
  <ng-container body>
    @if (cancelModalRow?.notify) {
      Opravdu si přejete předčasně odeslat upozornění a stornovat jej?
    } @else {
      Opravdu si přejete stornovat upozornění?
    }

    <table cTable bordered="true" class="mb-0 mt-3">
      @if (cancelModalRow) {
        <tr>
          <th>ID</th>
          <td>{{ cancelModalRow.row.id }}</td>
        </tr>

        <tr>
          <th>Datum a čas oznámení</th>
          <td>{{ cancelModalRow.row.notifyAtUtc | localeDatePipe }}</td>
        </tr>

        <tr>
          <th>Zpráva</th>
          <td>
            <pre class="m-0 p-0 text-wrap">
            {{ cancelModalRow.row.message }}
          </pre
            >
          </td>
        </tr>
      }
    </table>
  </ng-container>

  <ng-container footer>
    <button
      cButton
      [variant]="'outline'"
      [color]="'success'"
      (click)="confirmCancel()"
    >
      Potvrdit
    </button>

    <button
      cButton
      [variant]="'outline'"
      [color]="'danger'"
      (click)="cancelModal.close()"
    >
      Zrušit
    </button>
  </ng-container>
</app-modal>
