<app-card [header]="false">
    <p class="fw-bold">
        <ng-container *ngIf="apiGroup === 'V1'">Veřejné API</ng-container>
        <ng-container *ngIf="apiGroup === 'V2'">Privátní API</ng-container>
    </p>

    <app-loading *ngIf="loading; else view"></app-loading>
    <ng-template #view>
        <span class="text-danger" *ngIf="!items">
            <i class="fas fa-exclamation-triangle me-1"></i> Nezdařilo se načíst poslední volání API.
        </span>

        <ng-container *ngIf="items">
            <div *ngFor="let item of items" class="d-flex justify-content-between border-bottom"
                [class.text-danger]="isFailedRequest(item.result)" [class.text-warning]="item.duration >= 5000">
                <b title="{{item.name}}">{{item.name | cut:35}}</b>
                <span>{{item.result}}, {{item.duration | timeDuration}}</span>
            </div>

            <div *ngIf="items.length === 0">Na API dosud nebylo zavoláno.</div>
        </ng-container>
    </ng-template>
</app-card>
