<div>
    <button [disabled]="disabled('first')" (click)="click('first')" class="btn btn-sm">První strana</button>
    <button [disabled]="disabled('prev')" (click)="click('prev')" class="btn btn-sm">Předchozí strana</button>

    <span>
        {{page}} / {{pageCount}}
    </span>

    <button [disabled]="disabled('next')" (click)="click('next')" class="btn btn-sm">Další strana</button>
    <button [disabled]="disabled('last')" (click)="click('last')" class="btn btn-sm">Poslední strana</button>
</div>
