<div class="mb-2">
  <app-paginated-grid
    #grid
    [gridOptions]="gridOptions"
    (reloadRequested)="reload()"
    [height]="'700px'"
  />
</div>

<app-modal
  #removeItemModal
  title="Smazání záznamu"
  size="lg"
  [enableFooter]="true"
>
  <ng-container body>
    Opravdu si přejete smazat tenhle záznam?
    <b>Tato akce je nevratná!</b>
  </ng-container>

  <app-modal-question-buttons
    footer
    confirmTitle="Potvrdit"
    cancelTitle="Zrušit"
    [parentModal]="removeItemModal"
    (onConfirm)="confirmItemRemove()"
  />
</app-modal>
