@if ($getServiceDetail | withLoading | async; as response) {
  <div class="mb-3">
    @if (response.loading) {
      <app-loading customText="Načítají se podrobnosti o službě" />
    } @else if (!response.value) {
      <c-alert [color]="'danger'">
        <div class="d-flex align-items-center">
          <svg cIcon name="cilWarning" size="xxl" class="me-3"></svg>
          Při načítání podrobností o službě došlo k neočekávané situaci.
        </div>
      </c-alert>
    } @else {
      @if (response.value.apiErrorMessage) {
        <c-alert [color]="'warning'">
          <div class="d-flex align-items-center">
            <svg cIcon name="cilWarning" size="xxl" class="me-3"></svg>
            {{ response.value.apiErrorMessage }}
          </div>
        </c-alert>
      }

      <c-row class="mb-3">
        <c-col md="6">
          <c-card>
            <c-card-body>
              <h5 cCardTitle>{{ response.value.name }}</h5>

              <app-info-row key="URL" [value]="response.value.url" />

              <app-info-row
                key="Využitá paměť"
                [value]="response.value.usedMemory | filesize"
              />

              <app-info-row
                key="Uptime"
                [value]="response.value.uptime | timespan"
              />

              <app-info-row
                key="CPU čas"
                [value]="response.value.cpuTime | timespan"
              />

              <app-info-row
                key="Počet požadavků"
                [value]="response.value.requestsCount | spacedNumber"
              />

              <app-info-row
                key="Měřeno od"
                [value]="response.value.measuredFrom | localeDatePipe"
              />
            </c-card-body>
          </c-card>
        </c-col>

        @if ((response.value.additionalData | dictToList).length > 0) {
          <c-col>
            <c-card>
              <c-card-body>
                <h5 cCardTitle>Provozní data</h5>

                @for (
                  row of response.value.additionalData | dictToList;
                  track $index
                ) {
                  <app-info-row [key]="row.key" [value]="row.value" />
                }
              </c-card-body>
            </c-card>
          </c-col>
        }
      </c-row>

      <div class="mb-3">
        <app-ag-grid
          [gridOptions]="endpointsGrid"
          [dataSource]="response.value.endpoints | observable"
          [height]="'400px'"
        />
      </div>

      @if (response.value.databaseStatistics) {
        <div class="mb-3">
          <app-ag-grid
            [gridOptions]="dbStatsGrid"
            [dataSource]="
              response.value.databaseStatistics | dictToList | observable
            "
            height="400px"
          />
        </div>
      }

      @if (response.value.operations.length > 0) {
        <div class="mb-3">
          <app-ag-grid
            [gridOptions]="operationsGrid"
            [dataSource]="response.value.operations | withNesting | observable"
            [height]="'450px'"
          />
        </div>
      }
    }
  </div>
}
