<app-filter-card [form]="form" [parentFilterComponent]="this">
  <c-row>
    <c-col>
      <label cLabel for="operationType">Typ</label>
      <ng-select
        ngSelector
        [items]="operationTypes()"
        formControlName="operationType"
        bindLabel="value"
        bindValue="key"
      />
    </c-col>

    <c-col>
      <label cLabel for="groupingKey">Seskupení</label>
      <app-radio-group
        radioId="groupingKey"
        [items]="groupingKeys"
        formControlName="groupingKey"
      />
    </c-col>
  </c-row>
</app-filter-card>
