@if (state() === "not-started" || state() === "failed") {
  <button
    cButton
    class="p-0"
    [color]="'transparent'"
    (click)="storeFilter()"
    [variant]="'ghost'"
  >
    <c-icon name="cilShare" />
    <span class="ms-1 text-decoration-underline">Sdílet</span>
  </button>
}

<c-alert
  [color]="stateColor()"
  [fade]="true"
  [visible]="state() !== 'not-started'"
  class="mb-0"
>
  @switch (state()) {
    @case ("creating") {
      <app-loading
        [rotating]="true"
        [center]="false"
        [customText]="'Probíhá ukládání pohledu'"
        [small]="true"
      />
    }

    @case ("created") {
      <div class="d-flex align-items-center">
        <c-icon name="cilCheckCircle" />
        <p class="m-0 ms-2">
          Pohled byl úspěšně uložen.<br />
          Adresa na tenhle pohled je
          <code>{{ address() }}</code>
          a bude platit do
          {{ validTo() | localeDatePipe }}
        </p>
      </div>
    }

    @case ("failed") {
      <div class="d-flex align-items-center">
        <c-icon name="cilXCircle" />
        <p class="m-0 ms-2">
          Pohled se bohužel nepodařilo uložit.<br />
          {{ errorMessage() }}
        </p>
      </div>
    }
  }
</c-alert>
