<div class="row ms-0 me-0 mt-2">
    <div class="col-md">
        <app-card [header]="false" *ngIf="request$ | async as data; else loading"
            [footer]="data.apiErrorMessage ? {template: footer, context:{errorMessage: data.apiErrorMessage}} : null">
            <div class="d-flex align-items-baseline">
                <h3 class="fw-normal me-2">{{data.name}}</h3>
                <p class="text-muted">{{data.url}}</p>
            </div>

            <ng-container *ngIf="data.diagnosticInfo">
                <div class="row mt-1">
                    <div class="col-md">
                        <p>Uptime: <b>{{data.diagnosticInfo.uptime | timeDuration}}</b></p>
                        <p>Čas CPU: <b>{{data.diagnosticInfo.cpuTime | timeDuration}}</b></p>
                    </div>
                    <div class="col-md">
                        <p>Statistiky měřeny od: <b>{{data.diagnosticInfo.measuredFrom.binding}}</b></p>
                        <p>Celkem požadavků: <b>{{data.diagnosticInfo.requestsCount | numberWithSpaces}}</b></p>
                    </div>
                    <div class="col-md">
                        <p>Využitá paměť: <b>{{data.diagnosticInfo.usedMemory | filesize}}</b></p>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md">
                        <h5 class="fw-normal">Požadavky</h5>
                        <table class="table table-sm table-responsive auto-column-width">
                            <thead>
                                <tr>
                                    <th>Endpoint</th>
                                    <th>Počet požadavků</th>
                                    <th>Poslední požadavek</th>
                                    <th>Doba všech požadavků</th>
                                    <th>Průměrná doba požadavků</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data.diagnosticInfo.endpoints">
                                    <td>{{item.endpoint}}</td>
                                    <td>{{item.count | numberWithSpaces}}</td>
                                    <td>{{item.lastRequestAt.binding}} ({{item.lastTime | timeDuration}})</td>
                                    <td>{{item.totalTime | timeDuration}}</td>
                                    <td>{{item.avgTime | timeDuration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md"
                            *ngIf="(data.diagnosticInfo.operations && data.diagnosticInfo.operations.length > 0) || statusInfoRequest$">
                            <ng-container *ngIf="data.diagnosticInfo.operations && data.diagnosticInfo.operations.length > 0">
                                <h5>Operace</h5>
                                <table class="table table-sm table-bordered auto-column-width">
                                    <thead>
                                        <tr>
                                            <th>Operace</th>
                                            <th>Počet</th>
                                            <th>Průměrný čas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of readStatistics(data.diagnosticInfo.operations)"
                                            [class.bg-secondary]="item.level === 0 && item.item.count == 0"
                                            [class.bg-warning]="item.item.averageTime >= 5000">
                                            <td>
                                                <span [style.margin-left]="(item.level * 40) + 'px'">{{item.item.section}}</span>
                                            </td>
                                            <td>
                                                <ng-container *ngIf="item.item.count > 0">
                                                    {{item.item.count | numberWithSpaces}}
                                                </ng-container>
                                            </td>
                                            <td>
                                                <ng-container *ngIf="item.item.count > 0">{{item.item.averageTime |
                                                    timeDuration}}</ng-container>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </ng-container>

                            <ng-container *ngIf="statusInfoRequest$ !== null">
                                <div *ngIf="statusInfoRequest$ | async as statusInfo">
                                    <ng-container *ngIf="id === 'audit-log'">
                                        <p>Počet položek k archivaci: <b>{{statusInfo.itemsToArchive | numberWithSpaces}}</b></p>
                                        <p>Počet položek ke zpracování: <b>{{statusInfo.itemsToProcess | numberWithSpaces}}</b></p>
                                        <p>Počet položek ke smazání: <b>{{statusInfo.itemsToDelete | numberWithSpaces}}</b></p>
                                    </ng-container>

                                    <ng-container *ngIf="id === 'points'">
                                        <p>Počet uživatelů ke zpracování: <b>{{statusInfo.pendingUsersToProcess | numberWithSpaces}}</b></p>
                                        <p>Počet transakcí ke sloučení: <b>{{statusInfo.transactionsToMerge | numberWithSpaces}}</b></p>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>

                        <div class="col-md"
                            *ngIf="data.diagnosticInfo.databaseStatistics && data.diagnosticInfo.databaseStatistics.length > 0">
                            <h5 class="fw-normal">Databáze</h5>
                            <table class="table table-sm table-responsive auto-column-width">
                                <thead>
                                    <tr>
                                        <th>Tabulka</th>
                                        <th>Počet záznamů</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data.diagnosticInfo.databaseStatistics">
                                        <td>{{item.key}}</td>
                                        <td>{{item.value | numberWithSpaces}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
        </app-card>
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>

<ng-template #footer let-errorMessage="errorMessage">
    <p class="text-danger">
        <i class="fas fa-exclamation-triangle me-1"></i>
        {{errorMessage}}
    </p>
</ng-template>
