<app-card [header]="false" [classes]="['mb-3']">
    <h5>{{label}}</h5>

    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-3 d-flex align-items-center">Obsah textu</div>
            <div class="col-md">
                <input type="text" placeholder="Obsah textu" class="form-control" formControlName="text" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-3 d-flex align-items-center">Název aplikace</div>
            <div class="col-md">
                <input type="text" placeholder="Název aplikace" class="form-control" formControlName="sourceAppName" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-3 d-flex align-items-center">Zdroj</div>
            <div class="col-md">
                <input type="text" placeholder="Zdroj" class="form-control" formControlName="source" />
            </div>
        </div>
    </form>
</app-card>
