@if (userLookup$ | withLoading | async; as lookup) {
  <label cLabel>{{ label() ?? "Uživatel" }}</label>

  <ng-select
    ngSelector
    [loading]="lookup.loading"
    [items]="lookup.value"
    bindValue="id"
    bindLabel="username"
    [formControl]="formControl"
    [searchFn]="userSearch"
  >
    <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
      <div [title]="item.isBot ? 'BOT' : ''">
        <span [ngOptionHighlight]="search">
          @if (item.globalAlias) {
            {{ item.globalAlias }} ({{ item.username }})
          } @else {
            {{ item.username }}
          }
        </span>
      </div>
      <small [title]="item.isBot ? 'BOT' : ''">
        @if (item.isBot) {
          <c-icon name="cibProbot" class="me-2" />
        }

        <b>Id: </b>
        <span [ngOptionHighlight]="search">
          {{ item.id }}
        </span>
      </small>
    </ng-template>
  </ng-select>
}
