<div class="mb-2">
  <app-paginated-grid
    #grid
    [gridOptions]="gridOptions"
    [height]="'700px'"
    (rowsUpdated)="onRowsUpdated($event)"
    (reloadRequested)="reload()"
  />
</div>

<app-modal
  #removeTransactionModal
  [size]="undefined"
  [title]="'Smazání transakce'"
  [enableFooter]="true"
>
  <ng-container body>
    Opravdu si přejete smazat transakci?

    @if (rowInModal) {
      <table cTable bordered="true" class="mb-0 mt-3">
        <tr>
          <th>ID zprávy</th>
          <td>{{ rowInModal.messageId }}</td>
        </tr>
        <tr>
          <th>Vytvořeno</th>
          <td>{{ rowInModal.createdAt | localeDatePipe }}</td>
        </tr>
        <tr>
          <th>Typ</th>
          <td>{{ getType(rowInModal.reactionId) }}</td>
        </tr>
        <tr>
          <th>Množství bodů</th>
          <td>{{ rowInModal.value }}</td>
        </tr>
      </table>
    }
  </ng-container>

  <ng-container footer>
    <button
      cButton
      [variant]="'outline'"
      [color]="'success'"
      (click)="confirmRemoveTransaction()"
    >
      Potvrdit
    </button>
    <button
      cButton
      [variant]="'outline'"
      [color]="'danger'"
      (click)="removeTransactionModal.close()"
    >
      Zrušit
    </button>
  </ng-container>
</app-modal>
