<app-card #card [title]="'Audit log'" [icon]="'fas fa-clipboard-list'" [header]="false" [bodyClasses]="['pt-2']" [classes]="['mb-3']">
    <app-data-list #list (readData)="readData($event)">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <ng-container *ngIf="list.isDataLoaded">
            <div class="row">
                <div class="col-md"></div>

                <div class="col-md-auto mt-1 mb-2" *ngIf="!list.isEmpty">
                    <app-items-count></app-items-count>
                </div>
            </div>

            <app-card *ngIf="list.isEmpty" [header]="false" [classes]="['mb-3']">
                <h6 class="mb-0">Pro zadaný filtr nebyly nalezeny žádné položky.</h6>
            </app-card>

            <app-card *ngFor="let item of list.items" [header]="false" [classes]="['mb-3']">
                <ng-container *ngTemplateOutlet="logRow;context:{item:item}"></ng-container>
            </app-card>
        </ng-container>
    </app-data-list>
</app-card>

<ng-template #logRow let-item="item">
    <div class="row">
        <div class="col-md">
            <ng-container *ngTemplateOutlet="logRowContent;context:{item:item}"></ng-container>
        </div>

        <div class="col-md-auto no-print">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-primary" *ngIf="item.isDetailAvailable" (click)="openDetail(item)"
                    title="Zobrazit detail záznamu">
                    <i class="fas fa-info pe-1 ps-1"></i>
                </button>
                <button class="btn btn-outline-danger" (click)="removeItem(item.id)" title="Smazat záznam">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #logRowContent let-item="item">
    <div class="row">
        <div class="col-md">
            <h6>{{item.title}} - {{item.createdAt.binding}}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <p class="m-0">
                ID: <b>{{item.id}}</b>
            </p>
            <p *ngIf="item.guild" class="m-0">
                Server: <b><a routerLink="/admin/servers/{{item.guild.id}}" class="text-dark">{{item.guild.name}}</a></b>
            </p>
            <p *ngIf="item.channel" class="m-0">
                Kanál: <b><a routerLink="/admin/channels/{{item.channel.id}}" class="text-dark">{{item.channel.name}}</a></b>
            </p>
            <p *ngIf="item.user" class="m-0">
                Provedl:
                <b>
                    <a routerLink="/admin/users/{{item.user.id}}" class="text-dark">{{item.user.username}}</a>
                </b>
            </p>
        </div>

        <ng-container *ngIf="item.preview">
            <ng-container *ngTemplateOutlet="logDataCol;context:{preview:item.preview,type:item.type}"></ng-container>
        </ng-container>
    </div>

    <ng-container *ngIf="item.preview">
        <ng-container *ngTemplateOutlet="logDataRow;context:{item:item}"></ng-container>
    </ng-container>
</ng-template>

<ng-template #logDataRow let-item="item">
    <div class="log-data-row">
        <pre class="alert alert-secondary" *ngIf="item.type === AuditLogItemType.Info">{{item.preview.message}}</pre>
        <pre class="alert alert-warning" *ngIf="item.type === AuditLogItemType.Warning">{{item.preview.message}}</pre>
        <pre class="alert alert-danger" *ngIf="item.type === AuditLogItemType.Error">{{item.preview.message}}</pre>

        <div *ngIf="item.type === AuditLogItemType.MemberRoleUpdated">
            <span class="badge bg-{{(role['value'] ? 'success' : 'danger')}} me-1 original"
                *ngFor="let role of Support.createDictFromObj(item.preview.modifiedRoles)">
                {{(role['value'] ? '+' : '-')}} {{role['key']}}
            </span>
        </div>

        <table *ngIf="item.type === AuditLogItemType.MessageEdited" class="table table-sm table-bordered mt-2 auto-column-width">
            <tr>
                <td>Obsah před</td>
                <td>
                    <pre>{{item.preview.contentBefore}}</pre>
                </td>
            </tr>
            <tr>
                <td>Obsah po</td>
                <td>
                    <pre>{{item.preview.contentAfter}}</pre>
                </td>
            </tr>
            <tr>
                <td>Rozdíly</td>
                <td>
                    <pre>{{Support.createDiff(item.preview.contentBefore, item.preview.contentAfter).join('\n')}}</pre>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a [href]="item.preview.jumpUrl" class="btn btn-link text-dark" target="_blank">Skočit na zprávu</a>
                </td>
            </tr>
        </table>

        <div *ngIf="item.type === AuditLogItemType.MessageDeleted">
            <pre class="alert alert-secondary" *ngIf="item.preview.content?.length > 0">{{item.preview.content}}</pre>

            <div *ngIf="item.preview.embeds && item.preview.embeds.length > 0">
                <app-card *ngFor="let embed of item.preview.embeds; let i = index" [header]="false" [classes]="['mt-2']">
                    <h6>Informace o embedu (#{{i}})</h6>

                    <div class="row">
                        <div class="col" *ngIf="embed.title">Titulek: <b>{{embed.title}}</b></div>
                    </div>

                    <div class="row">
                        <div class="col-3">Typ: <b>{{embed.type}}</b></div>
                        <div class="col-3">Počet polí: <b>{{embed.fieldsCount | numberWithSpaces}}</b></div>
                        <div class="col-3">Obsahuje patičku: <b>{{embed.containsFooter | czechBooleanPipe}}</b></div>
                        <div class="col-3" *ngIf="embed.providerName">Poskytovatel: <b>{{embed.providerName}}</b></div>
                    </div>

                    <div class="row" *ngIf="embed.authorName">
                        <div class="col">Autor: <b>{{embed.authorName}}</b></div>
                    </div>

                    <div class="row" *ngIf="embed.imageInfo">
                        <div class="col">Obrázek: <b>{{embed.imageInfo}}</b></div>
                    </div>

                    <div class="row" *ngIf="embed.videoInfo">
                        <div class="col">Video: <b>{{embed.videoInfo}}</b></div>
                    </div>

                    <div class="row" *ngIf="embed.thumbnailInfo">
                        <div class="col">Náhled: <b>{{embed.thumbnailInfo}}</b></div>
                    </div>
                </app-card>
            </div>
        </div>

        <div *ngIf="item.files && item.files.length > 0">
            <ul class="mb-0 mt-1">
                <li *ngFor="let file of item.files">
                    <a href="{{file.link}}" class="text-dark cursor-ptr" target="_blank">
                        {{file.filename}} ({{file.size | filesize}})
                    </a>
                </li>
            </ul>
        </div>
    </div>
</ng-template>

<ng-template #logDataCol let-preview="preview" let-type="type">
    <div class="col-md log-data-col">
        <ng-container *ngIf="type === AuditLogItemType.Info || type === AuditLogItemType.Warning || type === AuditLogItemType.Error">
            <p>Zdroj: <b>{{preview.fullSource}}</b></p>
        </ng-container>

        <ng-container
            *ngIf="type === AuditLogItemType.ChannelCreated || type === AuditLogItemType.ChannelDeleted || type === AuditLogItemType.ThreadDeleted ">
            <p>Název: <b>{{preview.name}}</b></p>

            <ng-container *ngIf="type === AuditLogItemType.ChannelCreated || type === AuditLogItemType.ChannelDeleted">
                <p>Typ: <b>{{preview.type}}</b></p>
                <p *ngIf="preview.slowMode && preview.slowMode > 0">SlowMode (vteřiny): <b>{{preview.slowMode}}</b></p>
                <p *ngIf="preview.isNsfw != null">NSFW: <b>{{preview.isNsfw | czechBooleanPipe}}</b></p>
                <p *ngIf="preview.bitrate">Bitrate (bps): <b>{{preview.bitrate}}</b></p>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.ChannelUpdated">
            Změněno:
            <b class="me-1" *ngIf="preview.bitrate">Bitrate</b>
            <b class="me-1" *ngIf="preview.flags">Příznaky</b>
            <b class="me-1" *ngIf="preview.isNsfw">NSFW stav</b>
            <b class="me-1" *ngIf="preview.name">Název</b>
            <b class="me-1" *ngIf="preview.position">Pozice</b>
            <b class="me-1" *ngIf="preview.slowMode">SlowMode</b>
            <b class="me-1" *ngIf="preview.topic">Popis</b>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.EmojiDeleted">
            <p *ngIf="preview.id">ID: <b>{{preview.id}}</b></p>
            <p>Název: <b>{{preview.name}}</b></p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.OverwriteCreated || type === AuditLogItemType.OverwriteDeleted">
            <p *ngIf="preview.user">
                Cílový uživatel:
                <b>
                    <a routerLink="/admin/users/{{preview.user.id}}" class="text-dark">{{preview.user.username}}</a>
                </b>
            </p>
            <p *ngIf="preview.role">
                Cílová role: <span class="badge" [style.backgroundColor]="preview.role.color">{{preview.role.name}}</span>
            </p>
            <p *ngIf="preview.allow && preview.allow.length > 0">Povolená oprávnění: <b>{{preview.allow.join(", ")}}</b></p>
            <p *ngIf="preview.deny && preview.deny.length > 0">Zakázaná oprávnění: <b>{{preview.deny.join(", ")}}</b></p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.OverwriteUpdated">
            <p *ngIf="preview.user">
                Cílový uživatel:
                <b>
                    <a routerLink="/admin/users/{{preview.user.id}}" class="text-dark">{{preview.user.username}}</a>
                </b>
            </p>
            <p *ngIf="preview.role">
                Cílová role: <span class="badge" [style.backgroundColor]="preview.role.color">{{preview.role.name}}</span>
            </p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.Unban">
            <p>
                Uživatel:
                <b>
                    <a routerLink="/admin/users/{{preview.user.id}}" class="text-dark">{{preview.user.username}}</a>
                </b>
            </p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.MemberUpdated">
            <p>
                Cílový uživatel:
                <b>
                    <a routerLink="/admin/users/{{preview.user.id}}" class="text-dark">{{preview.user.username}}</a>
                </b>
            </p>
            <p *ngIf="preview.nicknameChanged || preview.voiceMuteChanged || preview.selfUnverifyMinimalTimeChange || preview.flagsChanged">
                Změněno:
                <b class="me-1" *ngIf="preview.nicknameChanged">Přezdívka</b>
                <b class="me-1" *ngIf="preview.voiceMuteChanged">Umlčení</b>
                <b class="me-1" *ngIf="preview.selfUnverifyMinimalTimeChange">Min. čas selfunverify</b>
                <b class="me-1" *ngIf="preview.flagsChanged">Příznaky</b>
            </p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.MemberRoleUpdated">
            <p>
                Cílový uživatel:
                <b>
                    <a routerLink="/admin/users/{{preview.user.id}}" class="text-dark">{{preview.user.username}}</a>
                </b>
            </p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.GuildUpdated">
            <p>
                Změněno:
                <b>
                    <span class="me-1" *ngIf="preview.afkChannelId">AFK kanál</span>
                    <span class="me-1" *ngIf="preview.afkTimeout">AFK timeout</span>
                    <span class="me-1" *ngIf="preview.bannerId">Banner</span>
                    <span class="me-1" *ngIf="preview.defaultMessageNotifications">Výchozí upozornění</span>
                    <span class="me-1" *ngIf="preview.description">Popis</span>
                    <span class="me-1" *ngIf="preview.discoverySplashId">Komunitní pozadí</span>
                    <span class="me-1" *ngIf="preview.explicitContentFilter">Filtr explicitního obsahu</span>
                    <span class="me-1" *ngIf="preview.features">Funkcionalita</span>
                    <span class="me-1" *ngIf="preview.iconId">Ikona</span>
                    <span class="me-1" *ngIf="preview.mfaLevel">2FA úroveň</span>
                    <span class="me-1" *ngIf="preview.name">Název</span>
                    <span class="me-1" *ngIf="preview.nsfwLevel">Úroveň NSFW</span>
                    <span class="me-1" *ngIf="preview.premiumTier">Úroveň (Boost)</span>
                    <span class="me-1" *ngIf="preview.publicUpdatesChannelId">Kanál na novinky</span>
                    <span class="me-1" *ngIf="preview.rulesChannelId">Kanál s pravidly</span>
                    <span class="me-1" *ngIf="preview.splashId">Pozadí pozvánky</span>
                    <span class="me-1" *ngIf="preview.systemChannelFlags">Nastavení systémového kanálu</span>
                    <span class="me-1" *ngIf="preview.systemChannelId">Systémový kanál</span>
                    <span class="me-1" *ngIf="preview.vanityUrl">Vanity URL</span>
                    <span class="me-1" *ngIf="preview.verificationLevel">Úroveň ověření</span>
                </b>
            </p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.UserLeft">
            <p>
                Uživatel:
                <b>
                    <a routerLink="/admin/users/{{preview.user.id}}" class="text-dark">{{preview.user.username}}</a>
                </b>
            </p>
            <p>Počet členů (po odpojení): <b>{{preview.memberCount}}</b></p>
            <p>BAN: <b>{{preview.isBan | czechBooleanPipe}}</b></p>
            <p *ngIf="preview.isBan">Důvod BANu: <b>{{preview.banReason}}</b></p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.UserJoined">
            <p>Počet členů (po připojení): <b>{{preview.memberCount}}</b></p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.MessageDeleted">
            <p>Autor: <b><a routerLink="/admin/users/{{preview.user.id}}" class="text-dark">{{preview.user.username}}</a></b></p>
            <p>Vytvořeno: <b>{{preview.messageCreatedAt | dateTimeFormatter}}</b></p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.InteractionCommand">
            <p>Příkaz: <b>{{preview.name}}</b></p>
            <p>Odpověděl: <b>{{preview.hasResponded | czechBooleanPipe}}</b></p>
            <p>Dokončen úspěšně: <b>{{preview.isSuccess | czechBooleanPipe}}</b></p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.JobCompleted">
            <p>Úloha: <b>{{preview.jobName}}</b></p>
            <p>Začátek: <b>{{preview.startAt | dateTimeFormatter}}</b></p>
            <p>Konec: <b>{{preview.endAt | dateTimeFormatter}}</b></p>
            <p class="text-danger" *ngIf="preview.wasError">
                <i class="fas fa-exclamation-triangle me-1"></i>
                <b>Došlo k chybě</b>
            </p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.API">
            <p>Akce: <b>{{preview.action}}</b></p>
            <p>HTTP akce: <b>{{preview.path}}</b></p>
            <p>Výsledek: <b>{{preview.result}}</b></p>
            <p>Trvání: <b>{{preview.duration | timeDuration}}</b></p>
        </ng-container>

        <ng-container *ngIf="type === AuditLogItemType.ThreadUpdated">
            Změněno: <b *ngIf="preview.tagsChanged">Tagy</b>
        </ng-container>
    </div>
</ng-template>
