<app-card [title]="'Vyhledávání'" [icon]="'fas fa-search'" [allowHideButton]="true"
    [footer]="allowExtendedFilters ? {template:extendedFilters, context:null} : null">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md form-group">
                <label>ID záznamů (oddělovat čárkou)</label>
                <input type="text" formControlName="serializedIds" class="form-control" />
            </div>

            <div class="col-md form-group">
                <label>Server</label>
                <app-search-input [searchSource]="'guilds'" formControlName="guildId"></app-search-input>
            </div>

            <div class="col-md form-group">
                <label>Kanál</label>
                <app-search-input [searchSource]="'channels'" [guildId]="guildId" formControlName="channelId"></app-search-input>
            </div>

            <div class="col-md form-group">
                <label>Uživatel</label>
                <app-search-input [searchSource]="'users-all'" formControlName="userIds" [isMultiSelect]="true"
                    [guildId]="guildId"></app-search-input>
            </div>
        </div>

        <div class="row">
            <div class="col-md form-group">
                <label>Zapsáno od</label>
                <input type="datetime-local" class="form-control" formControlName="createdFrom" />
            </div>

            <div class="col-md form-group">
                <label>Zapsáno do</label>
                <input type="datetime-local" class="form-control" formControlName="createdTo" />
            </div>

            <div class="col-md form-group">
                <label>Typy operací (k zobrazení)</label>
                <ng-select [bindValue]="'key'" [bindLabel]="'value'" [closeOnSelect]="false" [clearable]="true" [items]="types"
                    [multiple]="true" [notFoundText]="'Nenalezen žádný typ'" [searchable]="true" formControlName="showTypes"></ng-select>
            </div>

            <div class="col-md form-group">
                <label>Typy operací (k vynechání)</label>
                <ng-select [bindValue]="'key'" [bindLabel]="'value'" [closeOnSelect]="false" [clearable]="true" [items]="types"
                    [multiple]="true" [notFoundText]="'Nenalezen žádný typ'" [searchable]="true" formControlName="ignoreTypes"></ng-select>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md d-flex flex-column">
                <app-checkbox [id]="'only-with-files'" formControlName="onlyWithFiles"
                    [label]="'Pouze záznamy obsahující soubory'"></app-checkbox>
            </div>

            <div class="col-md d-flex justify-content-end align-items-end">
                <button class="btn btn-link me-2" type="button" (click)="submitForm()">Obnovit</button>
                <button class="btn btn-danger" (click)="cleanFilter()">Smazat filtr</button>
            </div>
        </div>
    </form>
</app-card>

<ng-template #extendedFilters>
    <h5>Pokročilé vyhledávání</h5>

    <div class="extended-filter-grid">
        <app-text-filter [label]="'Informační zpráva'" [(ngModel)]="exFilters.info" (ngModelChange)="form.updateValueAndValidity()"
            *ngIf="selectedTypes.includes(auditLogItemType.Info)"></app-text-filter>
        <app-text-filter [label]="'Varování'" [(ngModel)]="exFilters.warning" (ngModelChange)="form.updateValueAndValidity()"
            *ngIf="selectedTypes.includes(auditLogItemType.Warning)"></app-text-filter>
        <app-text-filter [label]="'Chyba'" [(ngModel)]="exFilters.error" (ngModelChange)="form.updateValueAndValidity()"
            *ngIf="selectedTypes.includes(auditLogItemType.Error)"></app-text-filter>
        <app-execution-filter [label]="'Integrovaný příkaz'" [(ngModel)]="exFilters.interaction"
            (ngModelChange)="form.updateValueAndValidity()" *ngIf="selectedTypes.includes(auditLogItemType.InteractionCommand)">
        </app-execution-filter>
        <app-execution-filter [label]="'Naplánovaná úloha'" [(ngModel)]="exFilters.job" (ngModelChange)="form.updateValueAndValidity()"
            *ngIf="selectedTypes.includes(auditLogItemType.JobCompleted)"></app-execution-filter>
        <app-api-request-filter [(ngModel)]="exFilters.api" (ngModelChange)="form.updateValueAndValidity()"
            *ngIf="selectedTypes.includes(auditLogItemType.API)"></app-api-request-filter>
        <app-target-id-filter [label]="'Vytvořena výjimka do kanálu'" [(ngModel)]="exFilters.overwriteCreated"
            (ngModelChange)="form.updateValueAndValidity()" *ngIf="selectedTypes.includes(auditLogItemType.OverwriteCreated)">
        </app-target-id-filter>
        <app-target-id-filter [label]="'Smazána výjimka do kanálu'" [(ngModel)]="exFilters.overwriteDeleted"
            (ngModelChange)="form.updateValueAndValidity()" *ngIf="selectedTypes.includes(auditLogItemType.OverwriteDeleted)">
        </app-target-id-filter>
        <app-target-id-filter [label]="'Upravena výjimka do kanálu'" [(ngModel)]="exFilters.overwriteUpdated"
            (ngModelChange)="form.updateValueAndValidity()" *ngIf="selectedTypes.includes(auditLogItemType.OverwriteUpdated)">
        </app-target-id-filter>
        <app-target-id-filter [label]="'Upraven uživatel'" [(ngModel)]="exFilters.memberUpdated"
            (ngModelChange)="form.updateValueAndValidity()" *ngIf="selectedTypes.includes(auditLogItemType.MemberUpdated)">
        </app-target-id-filter>
        <app-target-id-filter [label]="'Upraveny role uživatele'" [(ngModel)]="exFilters.memberRoleUpdated"
            (ngModelChange)="form.updateValueAndValidity()" *ngIf="selectedTypes.includes(auditLogItemType.MemberRoleUpdated)">
        </app-target-id-filter>
        <app-message-deleted-filter [(ngModel)]="exFilters.messageDeleted" (ngModelChange)="form.updateValueAndValidity()"
            *ngIf="selectedTypes.includes(auditLogItemType.MessageDeleted)"></app-message-deleted-filter>
    </div>
</ng-template>
