<app-card [header]="false" [classes]="['mb-3']">
    <h5>{{label}}</h5>

    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-3 d-flex align-items-center">Název</div>

            <div class="col-md">
                <input type="text" placeholder="Název" class="form-control" formControlName="actionName" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-3 d-flex align-items-center">Dokončeno úspěšně</div>

            <div class="col-md">
                <app-select [items]="successItems" formControlName="success"></app-select>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-3 d-flex align-items-center">Doba trvání (ms)</div>

            <div class="col-md">
                <input type="number" min="0" placeholder="Od" class="form-control" formControlName="durationFrom" />
            </div>

            <div class="col-md">
                <input type="number" placeholder="Do" class="form-control" formControlName="durationTo" />
            </div>
        </div>
    </form>
</app-card>
