@if (channels().length > 0) {
  @if (title()) {
    <b>{{ title() }}</b>
  }
  <ul class="mb-0">
    @for (channel of channels(); track channel.channelId) {
      <li>
        <div>{{ channel.channelId | channelLookup | async }}</div>
        @if (channel.allowValues.length > 0) {
          <div>Povoleno: {{ channel.allowValues.join(", ") }}</div>
        }

        @if (channel.denyValues.length > 0) {
          <div>Zakázáno: {{ channel.denyValues.join(", ") }}</div>
        }
      </li>
    }
  </ul>
}
