<app-filter-card [form]="form" [parentFilterComponent]="this">
  <c-row class="mb-1">
    <c-col>
      <app-guild-lookup formControlName="guildId" />
    </c-col>

    <c-col>
      <app-user-lookup formControlName="userId" />
    </c-col>

    <c-col>
      <app-channel-lookup formControlName="channelId" />
    </c-col>
  </c-row>

  <c-row class="mb-2">
    <c-col>
      <label cLabel for="created">Vytvořeno (OD - DO)</label>
      <c-input-group>
        <input
          cFormControl
          type="datetime-local"
          formControlName="createdFrom"
        />

        <input cFormControl type="datetime-local" formControlName="createdTo" />
      </c-input-group>
    </c-col>

    <c-col>
      <label cLabel for="validity">Platnost (OD - DO)</label>
      <c-input-group>
        <input cFormControl type="datetime-local" formControlName="validFrom" />

        <input cFormControl type="datetime-local" formControlName="validTo" />
      </c-input-group>
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <app-text-input formControlName="messageQuery" label="Obsah hledání" />
    </c-col>

    <c-col>
      <c-row>
        <c-col>
          <app-checkbox
            checkboxId="hideInvalid"
            label="Skrýt neplatné"
            formControlName="hideInvalid"
          />
        </c-col>

        <c-col>
          <app-checkbox
            checkboxId="showDeleted"
            label="Zobrazit smazané"
            formControlName="showDeleted"
          />
        </c-col>
      </c-row>
    </c-col>
  </c-row>
</app-filter-card>
