<div class="row ms-0 me-0">
    <div class="col-md-8 mt-2">
        <app-common-info></app-common-info>
    </div>

    <div class="col-md-4 mt-2">
        <app-active-operations></app-active-operations>
    </div>
</div>

<div class="row ms-0 me-0">
    <div class="col-md-4 mt-2">
        <app-user-measures></app-user-measures>
    </div>

    <div class="col-md-4 mt-2">
        <app-api-requests #apiV1 [apiGroup]="'V1'"></app-api-requests>
    </div>

    <div class="col-md-4 mt-2">
        <app-api-requests #apiV2 [apiGroup]="'V2'"></app-api-requests>
    </div>
</div>

<div class="row ms-0 me-0">
    <div class="col-md-4 mt-2">
        <app-commands></app-commands>
    </div>

    <div class="col-md-4 mt-2">
        <app-jobs></app-jobs>
    </div>

    <div class="col-md-4 mt-2">
        <app-today-avg-times></app-today-avg-times>
    </div>
</div>

<div class="row ms-0 me-0">
    <div class="col-md-4 mt-2">
        <app-operation-stats></app-operation-stats>
    </div>
</div>


<div class="row mt-2 me-0 ms-0">
    <div class="col-md-12 d-flex justify-content-end">
        <button class="btn btn-link" (click)="reload()">Obnovit data</button>
    </div>
</div>
