@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-balham.css";

.ag-theme-balham,
.ag-theme-balham-dark {
  --ag-font-size: $font-size-base;
}

.ag-filter-menu {
  padding: 5px;
  border-radius: 5px;

  & .ag-picker-field .ag-picker-field-wrapper {
    padding: 4px;
  }

  & .ag-filter-body {
    padding-top: 5px;

    & .ag-input-field-input {
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.ag-theme-balham-dark {
  & .ag-header-cell-text {
    color: $white;
  }

  & .ag-row {
    &.bg-danger-subtle,
    &.bg-warning-subtle,
    &.bg-success-subtle {
      & .ag-cell {
        color: $dark;
      }
    }

    & .bg-danger-subtle,
    & .bg-warning-subtle,
    & .bg-success-subtle {
      &.ag-cell {
        color: $dark;
      }
    }
  }
}
