@layer reset {
  .p-checkbox-label {
    color: #444;
    user-select: none;
  }

  :not(.p-checkbox-checked) > .p-checkbox-box,
  .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
    background: white !important;
  }

  [data-coreui-theme="dark"] {
    & .p-checkbox-label {
      color: #fff;
    }
  }
}
