<div class="mt-3">
  <app-paginated-grid
    #grid
    [gridOptions]="gridOptions"
    (reloadRequested)="reload()"
  />
</div>

<app-modal
  #removeUserStatisticsRowModal
  title="Smazat statistiky emote {{ emoteName() }} pro uživatele"
  [enableFooter]="true"
>
  <ng-container body>
    Opravdu si přejete smazat statistiky pro uživatele?
  </ng-container>

  <app-modal-question-buttons
    footer
    [parentModal]="removeUserStatisticsRowModal"
    (onConfirm)="deleteUserStatistics()"
  />
</app-modal>
