<div class="mt-3">
  <app-paginated-grid
    #grid
    [gridOptions]="gridOptions"
    (reloadRequested)="reload()"
  />
</div>

<app-modal
  #removeUserStatisticsRowModal
  title="Smazat statistiky emote {{ emoteName() }} pro uživatele"
  [enableFooter]="true"
>
  <ng-container body>
    Opravdu si přejete smazat statistiky pro uživatele?
  </ng-container>

  <ng-container footer>
    <button
      cButton
      [variant]="'outline'"
      [color]="'success'"
      (click)="deleteUserStatistics()"
    >
      Ano
    </button>

    <button
      cButton
      [variant]="'outline'"
      [color]="'danger'"
      (click)="removeUserStatisticsRowModal.close()"
    >
      Ne
    </button>
  </ng-container>
</app-modal>
