<app-filter-card [form]="form" [parentFilterComponent]="this">
  <c-row class="mb-1">
    <c-col>
      <app-user-lookup formControlName="fromUserId" label="Od uživatele" />
    </c-col>

    <c-col>
      <app-user-lookup formControlName="toUserId" label="Pro uživatele" />
    </c-col>

    <c-col>
      <app-datetime-range formControlName="notifyAt" label="Oznámit v" />
    </c-col>
  </c-row>

  <c-row class="mb-2">
    <c-col>
      <app-text-input
        formControlName="commandMessageId"
        label="ID zprávy"
        [validators]="form.get('commandMessageId')!.validator"
        [autocomplete]="false"
      />
    </c-col>

    <c-col>
      <app-text-input
        formControlName="messageContains"
        label="Zpráva obsahuje"
      />
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <c-row>
        <c-col>
          <p-triStateCheckbox
            inputId="onlyInProcess"
            formControlName="onlyInProcess"
            class="me-2"
            label="Zpracovávané"
          />
        </c-col>

        <c-col>
          <p-triStateCheckbox
            inputId="onlyPending"
            formControlName="onlyPending"
            label="Čekající"
          />
        </c-col>
      </c-row>
    </c-col>
  </c-row>
</app-filter-card>
