<app-filter-card [form]="form" [parentFilterComponent]="this">
  <c-row class="mb-1">
    <c-col>
      <app-user-lookup formControlName="fromUserId" label="Od uživatele" />
    </c-col>

    <c-col>
      <app-user-lookup formControlName="toUserId" label="Pro uživatele" />
    </c-col>

    <c-col>
      <label cLabel for="notifyAt">Oznámit v (OD - DO)</label>
      <c-input-group>
        <input
          cFormControl
          type="datetime-local"
          formControlName="notifyAtFromUtc"
        />

        <input
          cFormControl
          type="datetime-local"
          formControlName="notifyAtToUtc"
        />
      </c-input-group>
    </c-col>
  </c-row>

  <c-row class="mb-2">
    <c-col>
      <label cLabel for="commandMessageId">ID zprávy</label>
      <input cFormControl type="text" formControlName="commandMessageId" />
      <app-validation-errors controlName="commandMessageId" [form]="form" />
    </c-col>

    <c-col>
      <label cLabel for="messageContains">Zpráva obsahuje</label>
      <input cFormControl type="text" formControlName="messageContains" />
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <c-row>
        <c-col>
          <p-triStateCheckbox
            inputId="onlyInProcess"
            formControlName="onlyInProcess"
            class="me-2"
            label="Zpracovávané"
          />
        </c-col>

        <c-col>
          <p-triStateCheckbox
            inputId="onlyPending"
            formControlName="onlyPending"
            label="Čekající"
          />
        </c-col>
      </c-row>
    </c-col>
  </c-row>
</app-filter-card>
