<app-filter-card [form]="form" [parentFilterComponent]="this">
  <c-row class="mb-1">
    <c-col>
      <label cLabel for="type">Typ</label>
      <ng-select
        formControlName="type"
        ngSelector
        [items]="[
          { key: 'Warning', value: 'Varování' },
          { key: 'Unverify', value: 'Unverify' },
          { key: 'Timeout', value: 'Timeout' },
        ]"
      ></ng-select>
    </c-col>

    <c-col>
      <app-datetime-range formControlName="created" label="Vytvořeno" />
    </c-col>
  </c-row>

  <c-row class="mb-1">
    <c-col>
      <app-guild-lookup formControlName="guildId" />
    </c-col>

    <c-col>
      <app-user-lookup formControlName="userId" />
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <app-user-lookup formControlName="moderatorId" label="Moderátor" />
    </c-col>
  </c-row>
</app-filter-card>
