<app-loading *ngIf="!jobs"></app-loading>

<div class="row mt-5 ml-0 mr-0" *ngIf="jobs && jobs.length === 0">
    <div class="col d-flex justify-content-center">
        <h1 class="fw-normal">Nebyla nalezena žádná naplánovaná úloha.</h1>
    </div>
</div>

<div *ngIf="jobs && jobs.length > 0" class="d-flex flex-md-wrap flex-wrap">
    <div class="ms-3 me-0 mt-3 mb-3" *ngFor="let job of jobs">
        <div>
            <ng-container *ngTemplateOutlet="jobCard;context:{job: job}"></ng-container>
        </div>
    </div>
</div>

<ng-template #jobCard let-job="job">
    <app-card [header]="false" [classes]="[job.running ? 'bg-success' : '', !job.isActive ? 'bg-danger' : '']">
        <h4 class="fw-normal me-3">{{job.name}}</h4>

        <div class="row">
            <div keyValueItem class="col-md border-bottom mt-2" [key]="'Spuštění'" [value]="job.startCount | numberWithSpaces"></div>
            <div keyValueItem class="col-md border-bottom mt-2" [key]="'Neúspěšných'" [value]="job.failedCount | numberWithSpaces"></div>
        </div>

        <div class="row">
            <div keyValueItem class="col-md border-bottom mt-2" [key]="'Poslední běh'" [value]="job.lastRunDuration | timeDuration"></div>
            <div keyValueItem class="col-md border-bottom mt-2" [key]="'Průměrný čas'" [value]="job.averageTime | timeDuration"></div>
        </div>

        <div class="row mb-2">
            <div keyValueItem class="col-md border-bottom mt-2" [key]="'Nejrychlejší'" [value]="job.minTime | timeDuration"></div>
            <div keyValueItem class="col-md border-bottom mt-2" [key]="'Nejpomalejší'" [value]="job.maxTime | timeDuration"></div>
        </div>

        <p>Celkový čas: <b>{{job.totalTime | timeDuration}}</b></p>
        <p>Posl. spuštění: <b>{{(job.lastRun ? job.lastRun.binding : 'Ještě nespuštěn')}}</b></p>
        <p>Příští spuštění: <b>{{job.nextRun.binding}}</b></p>

        <div class="btn-group mt-2 no-print">
            <button class="btn btn-outline-success" title="Spustit úlohu" *ngIf="job.isActive && !job.running" (click)="triggerJob(job)">
                <i class="fas fa-play"></i>
            </button>

            <button class="btn btn-outline-success" title="Aktivovat úlohu" *ngIf="!job.isActive" (click)="updateJob(job, true)">
                <i class="fas fa-power-off"></i>
            </button>

            <button class="btn btn-outline-danger" title="Deaktivovat úlohu" *ngIf="job.isActive && !job.running"
                (click)="updateJob(job, false)">
                <i class="fas fa-power-off"></i>
            </button>
        </div>
    </app-card>
</ng-template>
