@if (getEmoteInfoRequest$() | withLoading | async; as response) {
  <div class="mb-3">
    @if (response.loading) {
      <app-loading [customText]="'Načítají se podrobnosti o emote'" />
    } @else if (!response.value) {
      <c-alert color="danger">
        <div class="d-flex align-items-center">
          <c-icon name="cilWarning" size="xxl" class="me-3" />
          Při načítání podrobností o emote došlo k neočekávané situaci.
        </div>
      </c-alert>
    } @else {
      <c-row>
        <c-col>
          <c-card>
            <c-row class="g-0">
              <c-col [cCol]="'auto'" class="overflow-hidden position-relative">
                <img
                  cCardImg="start"
                  [src]="response.value.emoteUrl"
                  [alt]="response.value.emoteName"
                  class="d-none d-md-inline object-fit-cover"
                  style="min-height: 100%; object-position: left"
                />

                <img
                  cCardImg="top"
                  [src]="response.value.emoteUrl"
                  [alt]="response.value.emoteName"
                  class="d-md-none d-sm-inline"
                />
              </c-col>

              <c-card-body cCol="8">
                <h5 cCardTitle>{{ response.value.emoteName }}</h5>

                <app-info-row key="ID" [value]="emoteId()" />
                <app-info-row
                  key="Vlastník"
                  [value]="
                    (response.value.ownerGuildId | guildLookup | async) ?? ''
                  "
                />

                <c-row>
                  <c-col> <b>Animovaný</b>: </c-col>
                  <c-col>
                    <app-checkbox
                      [checkboxId]="'isEmoteAnimated'"
                      [label]="''"
                      [formControl]="
                        response.value.isEmoteAnimated | asReadonlyFormControl
                      "
                    />
                  </c-col>
                </c-row>
              </c-card-body>

              @if (response.value.statistics) {
                <c-card-footer>
                  <button
                    cButton
                    [color]="'danger'"
                    [size]="'sm'"
                    [variant]="'outline'"
                    (click)="deleteAllStatistics('confirm')"
                  >
                    Smazat všechny statistiky
                  </button>
                </c-card-footer>
              }
            </c-row>
          </c-card>
        </c-col>

        @if (response.value.statistics) {
          <c-col md="4">
            <c-card>
              <c-card-body>
                <h5 cCardTitle>Statistiky</h5>

                <app-info-row
                  key="Počet použití"
                  [value]="response.value.statistics.useCount | spacedNumber"
                />

                <app-info-row
                  key="Použilo uživatelů"
                  [value]="response.value.statistics.usersCount | spacedNumber"
                />

                <app-info-row
                  key="První použití"
                  [value]="
                    response.value.statistics.firstOccurenceUtc | localeDatePipe
                  "
                />

                <app-info-row
                  key="Poslední použití"
                  [value]="
                    response.value.statistics.lastOccurenceUtc | localeDatePipe
                  "
                />
              </c-card-body>
            </c-card>
          </c-col>
        }
      </c-row>

      @if (response.value.statistics) {
        <c-row>
          <c-col>
            <app-emote-usage-list
              [emoteFullId]="emoteFullId()"
              [guildId]="guildId()"
              (statisticsReloaded)="reload()"
            />
          </c-col>

          <c-col md="4">
            <app-emote-merge
              [guildId]="guildId()"
              [sourceEmoteId]="emoteFullId()"
            />
          </c-col>
        </c-row>
      }
    }
  </div>
}

<app-modal
  #deleteAllStatisticsModal
  [title]="'Smazat statistiky emote ' + emoteName()"
  [enableFooter]="true"
>
  <ng-container body>
    Opravdu si přejete smazat všechny statistiky pro tento emote?
  </ng-container>

  <app-modal-question-buttons
    footer
    [parentModal]="deleteAllStatisticsModal"
    (onConfirm)="deleteAllStatistics('process')"
  />
</app-modal>
