<div class="mb-3">
  <app-paginated-grid
    #grid
    [gridOptions]="gridOptions"
    [height]="'700px'"
    (reloadRequested)="reload()"
    (selectedRowsChanged)="selectedRows.set($event)"
  />

  <c-row class="pt-2">
    <c-col>
      <button
        cButton
        [disabled]="!canDeleteMultipleRows()"
        [variant]="'outline'"
        [color]="'danger'"
        (click)="removeSelectedRows()"
      >
        Smazat vybrané
      </button>
    </c-col>
  </c-row>
</div>

<app-modal
  #messageModal
  size="xl"
  [title]="'Zpráva hledání #' + (modalRows ? modalRows[0].id : '')"
>
  <ng-container body>
    <c-alert class="mb-0 p-0" color="transparent">
      @if (modalRows) {
        <pre class="m-0 p-0 text-wrap">{{ modalRows[0].content }}</pre>
      }
    </c-alert>
  </ng-container>
</app-modal>

<app-modal #removeModal [title]="'Mazání hledání'" [enableFooter]="true">
  <ng-container body>
    @if (modalRows) {
      @if (modalRows.length > 1) {
        Opravdu si přejete smazat vybraná hledání?
      } @else {
        Opravdu si přejete smazat hledání?
      }

      <table
        cTable
        bordered="true"
        responsive="true"
        small="true"
        striped="true"
        class="mb-0 mt-3"
      >
        <tr>
          <th>Identifikátory</th>
          <td>{{ modalRows | props: "id" }}</td>
        </tr>

        @if (modalRows.length === 1) {
          <tr>
            <th>Vytvořeno</th>
            <td>{{ modalRows[0].createdAtUtc | localeDatePipe }}</td>
          </tr>

          <tr>
            <th>Platné do</th>
            <td>{{ modalRows[0].validToUtc | localeDatePipe }}</td>
          </tr>

          <tr>
            <th>Server</th>
            <td>{{ modalRows[0].guildId | guildLookup | async }}</td>
          </tr>

          <tr>
            <th>Uživatel</th>
            <td>{{ modalRows[0].userId | userLookup | async }}</td>
          </tr>

          <tr>
            <th>Kanál</th>
            <td>{{ modalRows[0].channelId | channelLookup | async }}</td>
          </tr>
        }
      </table>
    }
  </ng-container>

  <app-modal-question-buttons
    footer
    [parentModal]="removeModal"
    (onConfirm)="confirmRemove()"
  />
</app-modal>
