<app-filter-card [form]="form" [parentFilterComponent]="this">
  <c-row class="mb-1">
    <c-col>
      <app-guild-lookup formControlName="guildId" />
    </c-col>

    <c-col>
      <app-user-lookup formControlName="userId" />
    </c-col>
  </c-row>

  <c-row class="mb-1">
    <c-col>
      <app-datetime-range formControlName="created" label="Vytvořeno" />
    </c-col>

    <c-col>
      <app-text-input
        formControlName="messageId"
        label="ID zprávy"
        [autocomplete]="false"
        [validators]="form.get('messageId')!.validator"
      />
    </c-col>
  </c-row>

  <c-row>
    <c-col>
      <label cLabel for="showMerged">Typ transakcí</label>
      <app-radio-group
        radioId="showMerged"
        [items]="[
          { label: 'Aktivní', value: false },
          { label: 'Archivované', value: true },
        ]"
        formControlName="showMerged"
      />
    </c-col>

    <c-col>
      <label cLabel>&nbsp;</label>

      <c-row>
        <c-col>
          <app-checkbox
            checkboxId="onlyMessages"
            label="Pouze zprávy"
            formControlName="onlyMessages"
          />
        </c-col>

        <c-col>
          <app-checkbox
            checkboxId="onlyReactions"
            label="Pouze reakce"
            formControlName="onlyReactions"
          />
        </c-col>
      </c-row>

      <div></div>
    </c-col>
  </c-row>
</app-filter-card>
