<c-card class="mb-3">
  <app-card-header #header icon="cilSearch" title="Vyhledávání" />

  <c-card-body visibility [isVisible]="header.bodyVisible()" class="pt-2">
    <form cForm [formGroup]="form">
      <c-row class="mb-1">
        <c-col>
          <label clabel for="guildId">Server</label>
          <app-guild-lookup formControlName="guildId" />
        </c-col>

        <c-col>
          <label clabel for="userId">Uživatel</label>
          <app-user-lookup formControlName="userId" />
        </c-col>
      </c-row>

      <c-row class="mb-1">
        <c-col>
          <label cLabel for="createdFrom" class="mb-0">
            Vytvořeno (OD - DO)
          </label>
          <c-input-group>
            <input
              cFormControl
              type="datetime-local"
              formControlName="createdFrom"
            />

            <input
              cFormControl
              type="datetime-local"
              formControlName="createdTo"
            />
          </c-input-group>
        </c-col>

        <c-col>
          <label cLabel for="messageId" class="mb-0">ID zprávy</label>
          <input
            cFormControl
            type="text"
            formControlName="messageId"
            autocomplete="off"
          />
          <app-validation-errors [form]="form" controlName="messageId" />
        </c-col>
      </c-row>

      <c-row>
        <c-col>
          <label cLabel for="showMerged" class="mb-0">Typ transakcí</label>
          <app-radio-group
            radioId="showMerged"
            [items]="[
              { label: 'Aktivní', value: false },
              { label: 'Archivované', value: true },
            ]"
            formControlName="showMerged"
          />
        </c-col>

        <c-col>
          <label cLabel>&nbsp;</label>

          <c-row>
            <c-col>
              <app-checkbox
                checkboxId="onlyMessages"
                label="Pouze zprávy"
                formControlName="onlyMessages"
              />
            </c-col>

            <c-col>
              <app-checkbox
                checkboxId="onlyReactions"
                label="Pouze reakce"
                formControlName="onlyReactions"
              />
            </c-col>
          </c-row>

          <div></div>
        </c-col>
      </c-row>

      <c-row class="mt-1">
        <c-col class="d-flex justify-content-end">
          <app-filter-buttons
            [disabled]="form.invalid"
            (onRefreshClick)="submitForm()"
            (onResetClick)="resetFilter()"
          />
        </c-col>
      </c-row>
    </form>
  </c-card-body>
</c-card>
