<c-card class="mb-3">
  <c-card-body>
    <c-row class="mb-3">
      <c-col>
        <app-info-row
          key="Nový začátek"
          [value]="data().newStartAtUtc | localeDatePipe"
        />

        <app-info-row
          key="Nový konec"
          [value]="data().newEndAtUtc | localeDatePipe"
        />
      </c-col>

      <c-col>
        <app-info-row
          key="Nové trvání"
          [value]="
            data().newStartAtUtc | datetimeDiff: data().newEndAtUtc | timespan
          "
        />
      </c-col>
    </c-row>

    @if (data().reason) {
      <app-text-input
        label="Důvod"
        [multiline]="true"
        [formControl]="data().reason | asReadonlyFormControl"
      />
    }
  </c-card-body>
</c-card>
