<c-card class="mb-3">
  <c-card-body>
    @if ($getTodayAvgTimes | withLoading | async; as response) {
      @if (response.loading) {
        <app-loading />
      } @else if (response.value) {
        <c-row>
          <ng-container
            [ngTemplateOutlet]="widget"
            [ngTemplateOutletContext]="{
              title: 'Privátní API',
              value: response.value.privateApi,
            }"
          />

          <ng-container
            [ngTemplateOutlet]="widget"
            [ngTemplateOutletContext]="{
              title: 'Veřejné API',
              value: response.value.publicApi,
            }"
          />
        </c-row>

        <c-row class="mt-3">
          <ng-container
            [ngTemplateOutlet]="widget"
            [ngTemplateOutletContext]="{
              title: 'Naplánované úlohy',
              value: response.value.jobs,
            }"
          />

          <ng-container
            [ngTemplateOutlet]="widget"
            [ngTemplateOutletContext]="{
              title: 'Příkazy',
              value: response.value.interactions,
            }"
          />
        </c-row>
      }
    }
  </c-card-body>
</c-card>

<ng-template #widget let-title="title" let-value="value">
  <c-col>
    <c-widget-stat-e
      [title]="title"
      [value]="value === -1 ? 'Zatím nezměřeno' : (value | timespan)"
    />
  </c-col>
</ng-template>
