<c-card class="mb-1">
  <c-card-body>
    <h5 cCardTitle>{{ title() }}</h5>

    <form [formGroup]="form">
      <c-row>
        <c-col>
          <label cLabel for="text">Obsah</label>
          <input cFormControl sizing="sm" type="text" formControlName="text" />
        </c-col>

        <c-col>
          <label cLabel for="sourceAppName">Aplikace</label>
          <input
            cFormControl
            sizing="sm"
            type="text"
            formControlName="sourceAppName"
          />
        </c-col>

        <c-col>
          <label cLabel for="source">Zdroj</label>
          <input
            cFormControl
            sizing="sm"
            type="text"
            formControlName="source"
          />
        </c-col>
      </c-row>
    </form>
  </c-card-body>
</c-card>
