<c-card class="mb-1">
  <c-card-body>
    <h5 cCardTitle>{{ title() }}</h5>

    <form [formGroup]="form">
      <c-row>
        <c-col md="4">
          <app-text-input formControlName="text" label="Obsah" sizing="sm" />
        </c-col>

        <c-col md="4">
          <app-text-input
            formControlName="sourceAppName"
            label="Aplikace"
            sizing="sm"
          />
        </c-col>

        <c-col md="4">
          <app-text-input formControlName="source" label="Zdroj" sizing="sm" />
        </c-col>
      </c-row>
    </form>
  </c-card-body>
</c-card>
