<app-loading *ngIf="!rows && !columns"></app-loading>

<table class="table table-sm table-bordered table-striped" *ngIf="rows && columns">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th *ngFor="let col of columns">
                <span>{{col}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td>{{row.key | cut:30}}</td>
            <td class="text-center" *ngFor="let col of row.value">{{col}}</td>
        </tr>
    </tbody>
</table>
