:host {
  display: block;
  overflow: hidden;
}

c-toast-header {
  border: 1px solid #6b7785;
  background-color: rgba(255, 255, 255, 1);
}

c-toast-body {
  border: 1px solid lightgray;
  border-top: none;
}
