@if (hasAnyError) {
  <small class="text-danger">
    <ul class="mb-0 ps-4">
      @for (error of errors; track $index) {
        <li>
          @switch (error[0]) {
            @case ("pattern") {
              <ng-container
                [ngTemplateOutlet]="patternError"
                [ngTemplateOutletContext]="{ error: error[1] }"
              />
            }

            @case ("required") {
              <ng-container
                [ngTemplateOutlet]="requiredError"
                [ngTemplateOutletContext]="{ error: error[1] }"
              />
            }

            @case ("min") {
              <ng-container
                [ngTemplateOutlet]="minError"
                [ngTemplateOutletContext]="{ error: error[1] }"
              />
            }

            @case ("minlength") {
              <ng-container
                [ngTemplateOutlet]="minLengthError"
                [ngTemplateOutletContext]="{ error: error[1] }"
              />
            }

            @case ("customValidationError") {
              <ng-container
                [ngTemplateOutlet]="customValidationError"
                [ngTemplateOutletContext]="{ error: error[1] }"
              />
            }

            @case ("maxlength") {
              <ng-container
                [ngTemplateOutlet]="maxLengthError"
                [ngTemplateOutletContext]="{ error: error[1] }"
              />
            }
          }
        </li>
      }
    </ul>
  </small>
}

<ng-template #patternError let-error="error">
  Hodnota "{{ error.actualValue }}" nesplňuje regulární výraz "{{
    error.requiredPattern
  }}"
</ng-template>

<ng-template #requiredError let-error="error">
  Hodnota je povinná.
</ng-template>

<ng-template #minError let-error="error">
  Nejmenší povolená hodnota je {{ error.min }}.
</ng-template>

<ng-template #minLengthError let-error="error">
  Minimální povolená délka je {{ error.requiredLength }}
</ng-template>

<ng-template #maxLengthError let-error="error">
  Maximální povolená délka je {{ error.requiredLength }}
</ng-template>

<ng-template #customValidationError let-error="error">
  {{ error.message }}
</ng-template>
