@if ($getServiceInfo | withLoading | async; as serviceInfo) {
  @if (serviceInfo.loading) {
    <c-widget-stat-f
      [value]="serviceId()"
      class="mb-3"
      color="secondary"
      textColor="white"
    >
      <ng-template cTemplateId="widgetIconTemplate">
        <app-loading [small]="true" [showText]="false" />
      </ng-template>
    </c-widget-stat-f>
  } @else {
    @if (!serviceInfo.value) {
      <c-widget-stat-f
        [value]="serviceId()"
        class="mb-3"
        color="warning"
        title="UP: Neznámý"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <c-icon name="cilWarning" size="xxl" />
        </ng-template>
      </c-widget-stat-f>
    } @else {
      <c-widget-stat-f
        [value]="serviceInfo.value.name"
        class="mb-3"
        [color]="serviceInfo.value.isAvailable ? 'success' : 'danger'"
        title="UP: {{ serviceInfo.value.uptime | timespan }}"
        textColor="white"
      >
        <ng-template cTemplateId="widgetIconTemplate">
          <c-icon
            [name]="
              serviceInfo.value.isAvailable ? 'cilCheckCircle' : 'cilXCircle'
            "
            size="xxl"
          />
        </ng-template>
        <ng-template cTemplateId="widgetFooterTemplate">
          <a
            class="font-weight-bold font-xs text-medium-emphasis"
            routerLink="/web/dashboard/services/{{ serviceId() }}"
          >
            <div class="d-flex align-items-center justify-content-between">
              <span>Podrobnosti</span>
              <c-icon name="cilArrowRight" width="16" />
            </div>
          </a>
        </ng-template>
      </c-widget-stat-f>
    }
  }
}
