<app-filter-card [form]="form" [parentFilterComponent]="this">
  <c-row class="mb-1">
    <c-col>
      <app-guild-lookup formControlName="guildId" />

      @if (isSynchronizationEnabled()) {
        <button
          cButton
          color="transparent"
          size="sm"
          class="btn-link"
          variant="ghost"
          (click)="synchronizationModal.open()"
        >
          Synchronizovat server
        </button>
      }
    </c-col>

    <c-col>
      <app-user-lookup formControlName="creatorId" label="Zakladatel" />
      <app-checkbox
        checkboxId="onlyWithoutCreator"
        formControlName="onlyWithoutCreator"
        label="Pouze pozvánky bez zakladatele"
      />
    </c-col>

    <c-col>
      <app-text-input
        formControlName="code"
        label="Kód pozvánky"
        [validators]="form.get('code')!.validator"
      />
    </c-col>

    <c-col>
      <label cLabel for="created">Vytvoření pozvánky (OD - DO)</label>

      <c-input-group>
        <input
          cFormControl
          type="datetime-local"
          formControlName="createdFrom"
        />

        <input cFormControl type="datetime-local" formControlName="createdTo" />
      </c-input-group>
    </c-col>
  </c-row>
</app-filter-card>

<app-modal
  #synchronizationModal
  [title]="'Synchronizace serveru'"
  [enableFooter]="true"
>
  <ng-container body>
    Opravdu si přejete synchronizovat cache pozvánek pro server "{{
      guildId() | guildLookup | async
    }}"?
  </ng-container>cd

  <ng-container footer>
    <button
      cButton
      [variant]="'outline'"
      [color]="'success'"
      (click)="confirmSynchronization()"
    >
      Potvrdit
    </button>

    <button
      cButton
      [variant]="'outline'"
      [color]="'danger'"
      (click)="synchronizationModal.close()"
    >
      Zrušit
    </button>
  </ng-container>
</app-modal>
