@if (visible()) {
  <div [ngClass]="containerClasses()">
    @if (small()) {
      <c-spinner [variant]="variant()" size="sm"></c-spinner>

      @if (showText()) {
        <p class="m-0 ms-2">
          {{ customText() ? customText() : "Probíhá načítání" }}
        </p>
      }
    } @else {
      <c-spinner [variant]="variant()"></c-spinner>

      @if (showText()) {
        <h2 class="m-0 ms-3 fw-light">
          {{ customText() ? customText() : "Probíhá načítání" }}
        </h2>
      }
    }
  </div>
}
