<app-card [header]="false">
    <p class="fw-bold">Statistika operací</p>

    <app-loading *ngIf="loading; else view"></app-loading>
    <ng-template #view>
        <span class="text-danger" *ngIf="!items">
            <i class="fas fa-exclamation-triangle me-1"></i> Nezdařilo se načíst statistiku operací.
        </span>

        <div *ngFor="let item of items" class="d-flex justify-content-between border-bottom"
            [class.text-warning]="item.averageTime >= 5000">
            <b>{{item.section}}</b>
            <span>{{item.count}}x ({{item.averageTime | timeDuration}})</span>
        </div>
    </ng-template>
</app-card>
