<c-row>
  <c-col md="8">
    <app-info-row key="Příkaz" [value]="detail().data.fullName" />
    <app-info-row key="Trvání" [value]="detail().data.duration | timespan" />

    @if (!detail().data.isSuccess) {
      <app-info-row
        key="Kód chyby"
        [value]="formatCommandError(detail().data.commandError)"
      />
    }

    <app-info-row key="Jazyk" [value]="detail().data.locale" />
  </c-col>

  <c-col class="d-flex row">
    <app-checkbox
      checkboxId="isSuccess"
      label="Dokončen úspěšně"
      [formControl]="detail().data.isSuccess | asReadonlyFormControl"
    />

    <app-checkbox
      checkboxId="hasResponded"
      label="Bot odpověděl"
      [formControl]="detail().data.hasResponded | asReadonlyFormControl"
    />

    <app-checkbox
      checkboxId="isValidToken"
      label="Platný token"
      [formControl]="detail().data.isValidToken | asReadonlyFormControl"
    />
  </c-col>
</c-row>

@if (!detail().data.isSuccess) {
  <c-alert color="danger" class="mt-2 mb-0">
    <pre class="mb-0">{{ detail().data.errorReason }}</pre>
  </c-alert>
}

@if (detail().data.exception) {
  <c-alert color="danger" class="mt-2 mb-0">
    <pre class="mb-0">{{ detail().data.exception }}</pre>
  </c-alert>
}

@if (detail().data.parameters?.length > 0) {
  <table cTable class="mb-0 mt-3" [small]="true">
    <thead>
      <tr>
        <th>Parametr</th>
        <th>Datový typ</th>
        <th>Hodnota</th>
      </tr>
    </thead>
    <tbody>
      @for (parameter of detail().data.parameters; track $index) {
        <tr>
          <td>{{ parameter.name }}</td>
          <td>{{ parameter.type }}</td>
          <td>
            <pre class="mb-0">{{ parameter.value }}</pre>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
