<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center">
    @if (icon()) {
      <svg cIcon [name]="icon() ?? ''" [size]="size()" class="me-2"></svg>
    }

    @switch (size()) {
      @case ("sm") {
        <h6 cCardTitle class="mb-0 fw-normal">{{ title() }}</h6>
      }

      @case ("md") {
        <h6 cCardTitle class="mb-0 fw-normal">{{ title() }}</h6>
      }

      @case ("lg") {
        <h5 cCardTitle class="mb-0 fw-normal">{{ title() }}</h5>
      }
    }
  </div>

  @if (!hideToggleVisibility()) {
    <button
      cButton
      class="btn-link p-0"
      [color]="'transparent'"
      (click)="bodyVisible.set(!bodyVisible())"
    >
      {{ bodyVisible() ? "Skrýt" : "Zobrazit" }}
    </button>
  }
</div>
