<c-container>
  <c-card class="mb-3">
    <c-card-body>
      @if (logItemRequest$() | withLoading | async; as response) {
        @if (response.loading) {
          <app-loading
            [center]="false"
            customText="Načítám záznam"
            [small]="true"
          />
        } @else if (!response.value) {
          <c-alert color="warning" class="mb-0">
            <div class="d-flex align-items-center">
              <svg cIcon name="cilWarning" size="xl" class="me-2"></svg>
              Bohužel se nepodařilo načíst informace o záznamu.
            </div>
          </c-alert>
        } @else {
          <app-info-row key="ID" [value]="response.value.id" />

          <app-info-row
            key="Vytvořeno"
            [value]="response.value.createdAt | localeDatePipe"
          />

          <app-info-row key="Typ" [value]="mapLogType(response.value.type)" />

          <div class="mt-2">
            @if (response.value.guildId) {
              <app-info-row
                key="Server"
                [value]="response.value.guildId | guildLookup | async"
              />
            }

            @if (response.value.userId) {
              <app-info-row
                key="Uživatel"
                [value]="response.value.userId | userLookup | async"
              />
            }

            @if (response.value.channelId) {
              <app-info-row
                key="Kanál"
                [value]="response.value.channelId | channelLookup | async"
              />
            }
          </div>
        }
      }
    </c-card-body>
  </c-card>

  <c-card class="mb-2">
    <c-card-body>
      @if (detailRequest$() | withLoading | async; as response) {
        @if (response.loading) {
          <app-loading
            [center]="false"
            customText="Načítám detail záznamu"
            [small]="true"
          />
        } @else if (!response.value) {
          <c-alert color="warning" class="mb-0">
            <div class="d-flex align-items-center">
              <svg cIcon name="cilWarning" size="xl" class="me-2"></svg>
              Bohužel se nepodařilo načíst detail záznamu.
            </div>
          </c-alert>
        } @else {
          @switch (response.value.type) {
            @case (1) {
              <ng-container
                [ngTemplateOutlet]="textDetail"
                [ngTemplateOutletContext]="{
                  data: response.value.data,
                  color: 'secondary',
                }"
              />
            }

            @case (2) {
              <ng-container
                [ngTemplateOutlet]="textDetail"
                [ngTemplateOutletContext]="{
                  data: response.value.data,
                  color: 'warning',
                }"
              />
            }

            @case (3) {
              <ng-container
                [ngTemplateOutlet]="textDetail"
                [ngTemplateOutletContext]="{
                  data: response.value.data,
                  color: 'danger',
                }"
              />
            }

            @case (11) {
              @switch (response.value.data.targetType) {
                @case (0) {
                  <app-info-row
                    key="Role"
                    [value]="response.value.data.targetId | roleLookup | async"
                  />
                }

                @case (1) {
                  <app-info-row
                    key="Uživatel"
                    [value]="response.value.data.targetId | userLookup | async"
                  />
                }
              }
            }

            @case (13) {
              <app-info-row
                key="Uživatel"
                [value]="response.value.data.userId | userLookup | async"
              />
            }
          }

          @if ([7, 11, 13, 15, 24].includes(response.value.type)) {
            <ng-container
              [ngTemplateOutlet]="diffTable"
              [ngTemplateOutletContext]="{
                data: response.value.data,
                type: response.value.type,
              }"
            />
          }
        }
      }
    </c-card-body>
  </c-card>
</c-container>

<ng-template #textDetail let-data="data" let-color="color">
  <c-row>
    <c-col md="6">
      <app-info-row key="Aplikace" [value]="data.sourceAppName" />
      <app-info-row key="Zdroj" [value]="data.source" />
    </c-col>
  </c-row>

  <c-alert [color]="color" class="mb-0 mt-3">
    <pre class="mb-0">{{ data.text }}</pre>
  </c-alert>
</ng-template>

<ng-template #diffTable let-data="data" let-type="type">
  <table cTable class="mb-0 mt-2" [small]="true" [striped]="true">
    <thead>
      <tr>
        <th>Položka</th>
        <th>Před</th>
        <th>Po</th>
      </tr>
    </thead>
    <tbody>
      @switch (type) {
        @case (7) {
          <ng-container
            [ngTemplateOutlet]="channelUpdatedDiff"
            [ngTemplateOutletContext]="{ data }"
          />
        }

        @case (11) {
          <ng-container
            [ngTemplateOutlet]="overwriteUpdatedDiff"
            [ngTemplateOutletContext]="{ data }"
          />
        }

        @case (13) {
          <ng-container
            [ngTemplateOutlet]="memberUpdated"
            [ngTemplateOutletContext]="{ data }"
          />
        }
      }
    </tbody>
  </table>
</ng-template>

<ng-template #channelUpdatedDiff let-data="data">
  @if (data.bitrate && data.bitrate.before != data.bitrate.after) {
    <tr>
      <th>Bitrate</th>
      <td>{{ data.bitrate.before | spacedNumber }} bps</td>
      <td>{{ data.bitrate.after | spacedNumber }} bps</td>
    </tr>
  }

  @if (data.flags && data.flags.before != data.flags.after) {
    <tr>
      <th>Příznaky</th>
      <td>
        {{ data.flags.before }} ({{ data.flags.before | asBitmaskString: 32 }})
      </td>
      <td>
        {{ data.flags.after }} ({{ data.flags.after | asBitmaskString: 32 }})
      </td>
    </tr>
  }

  @if (data.position && data.position.before != data.position.after) {
    <tr>
      <th>Pozice</th>
      <td>{{ data.position.before | spacedNumber }}</td>
      <td>{{ data.position.after | spacedNumber }}</td>
    </tr>
  }

  @if (data.slowMode && data.slowMode.before != data.slowMode.after) {
    <tr>
      <th>Slowmode</th>
      <td>{{ data.slowMode.before * 1000 | timespan }}</td>
      <td>{{ data.slowMode.after * 1000 | timespan }}</td>
    </tr>
  }

  @if (data.isNsfw && data.isNsfw.before != data.isNsfw.after) {
    <tr>
      <th>NSFW</th>
      <td>
        <app-checkbox
          checkboxId="isNsfw"
          [label]="''"
          [formControl]="data.isNsfw.before | asReadonlyFormControl"
        />
      </td>
      <td>
        <app-checkbox
          checkboxId="isNsfw"
          [label]="''"
          [formControl]="data.isNsfw.after | asReadonlyFormControl"
        />
      </td>
    </tr>
  }

  @if (data.topic && data.topic.before != data.topic.after) {
    <tr>
      <th>Popis</th>
      <td>{{ data.topic.before }}</td>
      <td>{{ data.topic.after }}</td>
    </tr>
  }

  @if (data.name && data.name.before != data.name.after) {
    <tr>
      <th>Název</th>
      <td>{{ data.name.before }}</td>
      <td>{{ data.name.after }}</td>
    </tr>
  }
</ng-template>

<ng-template #overwriteUpdatedDiff let-data="data">
  @if (data.allow && data.allow.before?.length != data.allow.after?.length) {
    <tr>
      <th>Povolené oprávnění</th>
      <td>
        <ul class="m-0">
          @for (perm of data.allow.before; track $index) {
            <li>{{ perm }}</li>
          }
        </ul>
      </td>
      <td>
        <ul class="m-0">
          @for (perm of data.allow.after; track $index) {
            <li>{{ perm }}</li>
          }
        </ul>
      </td>
    </tr>
  }

  @if (data.deny && data.deny.before?.length != data.deny.after?.length) {
    <tr>
      <th>Zakázané oprávnění</th>
      <td>
        <ul class="m-0">
          @for (perm of data.deny.before; track $index) {
            <li>{{ perm }}</li>
          }
        </ul>
      </td>
      <td>
        <ul class="m-0">
          @for (perm of data.deny.after; track $index) {
            <li>{{ perm }}</li>
          }
        </ul>
      </td>
    </tr>
  }
</ng-template>

<ng-template #memberUpdated let-data="data">
  @if (data.nickname && data.nickname.before != data.nickname.after) {
    <tr>
      <th>Přezdívka</th>
      <td>{{ data.nickname.before }}</td>
      <td>{{ data.nickname.after }}</td>
    </tr>
  }

  @if (data.isMuted && data.isMuted.before != data.isMuted.after) {
    <tr>
      <th>Ztlumen mikrofon</th>
      <td>
        <app-checkbox
          [checkboxId]="'isMuted'"
          [label]="''"
          [formControl]="data.isMuted.before | asReadonlyFormControl"
        />
      </td>
      <td>
        <app-checkbox
          [checkboxId]="'isMuted'"
          [label]="''"
          [formControl]="data.isMuted.after | asReadonlyFormControl"
        />
      </td>
    </tr>
  }

  @if (data.isDeaf && data.isDeaf.before != data.isDeaf.after) {
    <tr>
      <th>Umlčen</th>
      <td>
        <app-checkbox
          [checkboxId]="'isDeaf'"
          [label]="''"
          [formControl]="data.isDeaf.before | asReadonlyFormControl"
        />
      </td>
      <td>
        <app-checkbox
          [checkboxId]="'isDeaf'"
          [label]="''"
          [formControl]="data.isDeaf.after | asReadonlyFormControl"
        />
      </td>
    </tr>
  }

  @if (
    data.selfUnverifyMinimalTime &&
    data.selfUnverifyMinimalTime.before != data.selfUnverifyMinimalTime.after
  ) {
    <tr>
      <th>Minimální čas self-unverify</th>
      <td>{{ data.selfUnverifyMinimalTime.before }}</td>
      <td>{{ data.selfUnverifyMinimalTime.after }}</td>
    </tr>
  }

  @if (data.flags && data.flags.before != data.flags.after) {
    <tr>
      <th>Příznaky</th>
      <td>
        {{ data.flags.before }} ({{ data.flags.before | asBitmaskString: 32 }})
      </td>
      <td>
        {{ data.flags.after }} ({{ data.flags.after | asBitmaskString: 32 }})
      </td>
    </tr>
  }

  @if (
    data.pointsDeactivated &&
    data.pointsDeactivated.before != data.pointsDeactivated.after
  ) {
    <tr>
      <th>Body deaktivovány</th>
      <td>
        <app-checkbox
          [checkboxId]="'pointsDeactivated'"
          [label]="''"
          [formControl]="data.pointsDeactivated.before | asReadonlyFormControl"
        />
      </td>
      <td>
        <app-checkbox
          [checkboxId]="'pointsDeactivated'"
          [label]="''"
          [formControl]="data.pointsDeactivated.after | asReadonlyFormControl"
        />
      </td>
    </tr>
  }
</ng-template>
