<c-container>
  <c-card class="mb-3">
    <c-card-body>
      @if (logItemRequest$() | withLoading | async; as response) {
        @if (response.loading) {
          <app-loading
            [center]="false"
            customText="Načítám záznam"
            [small]="true"
          />
        } @else if (!response.value) {
          <c-alert color="warning" class="mb-0">
            <div class="d-flex align-items-center">
              <svg cIcon name="cilWarning" size="xl" class="me-2"></svg>
              Bohužel se nepodařilo načíst informace o záznamu.
            </div>
          </c-alert>
        } @else {
          <app-info-row key="ID" [value]="response.value.id" />

          <app-info-row
            key="Vytvořeno"
            [value]="response.value.createdAt | localeDatePipe"
          />

          <app-info-row key="Typ" [value]="mapLogType(response.value.type)" />

          <div class="mt-2">
            @if (response.value.guildId) {
              <app-info-row
                key="Server"
                [value]="response.value.guildId | guildLookup | async"
              />
            }

            @if (response.value.userId) {
              <app-info-row
                key="Uživatel"
                [value]="response.value.userId | userLookup | async"
              />
            }

            @if (response.value.channelId) {
              <app-info-row
                key="Kanál"
                [value]="response.value.channelId | channelLookup | async"
              />
            }
          </div>
        }
      }
    </c-card-body>
  </c-card>

  <c-card class="mb-2">
    <c-card-body>
      @if (detailRequest$() | withLoading | async; as response) {
        @if (response.loading) {
          <app-loading
            [center]="false"
            customText="Načítám detail záznamu"
            [small]="true"
          />
        } @else if (!response.value) {
          <c-alert color="warning" class="mb-0">
            <div class="d-flex align-items-center">
              <svg cIcon name="cilWarning" size="xl" class="me-2"></svg>
              Bohužel se nepodařilo načíst detail záznamu.
            </div>
          </c-alert>
        } @else {
          @if ([1, 2, 3].includes(response.value.type)) {
            <app-detail-text [detail]="response.value" />
          }

          @switch (response.value.type) {
            @case (7) {
              <app-channel-updated [detail]="response.value" />
            }

            @case (11) {
              <app-overwrite-updated [detail]="response.value" />
            }

            @case (13) {
              <app-member-updated [detail]="response.value" />
            }

            @case (15) {
              <app-guild-updated [detail]="response.value" />
            }
          }

          @if ([24].includes(response.value.type)) {
            <ng-container
              [ngTemplateOutlet]="diffTable"
              [ngTemplateOutletContext]="{
                data: response.value.data,
                type: response.value.type,
              }"
            />
          }

          @if (response.value.type === 19) {
            <ng-container
              [ngTemplateOutlet]="messageDeleted"
              [ngTemplateOutletContext]="{ data: response.value.data }"
            />
          }
        }
      }
    </c-card-body>
  </c-card>
</c-container>

<ng-template #diffTable let-data="data" let-type="type">
  <table cTable class="mb-0 mt-2" [small]="true" [striped]="true">
    <thead>
      <tr>
        <th>Položka</th>
        <th>Před</th>
        <th>Po</th>
      </tr>
    </thead>
    <tbody>
      @switch (type) {
        @case (24) {
          <ng-container
            [ngTemplateOutlet]="threadUpdatedDiff"
            [ngTemplateOutletContext]="{ data }"
          />
        }
      }
    </tbody>
  </table>
</ng-template>

<ng-template #threadUpdatedDiff let-data="data">
  @if (data.tags) {
    <tr>
      <th>Tagy</th>
      <td>
        <ul class="m-0">
          @for (tag of data.tags.before; track $index) {
            <li>{{ tag }}</li>
          }
        </ul>
      </td>
      <td>
        <ul class="m-0">
          @for (tag of data.tags.after; track $index) {
            <li>{{ tag }}</li>
          }
        </ul>
      </td>
    </tr>
  }
</ng-template>

<ng-template #messageDeleted let-data="data">
  <app-info-row key="Autor" [value]="data.authorId | userLookup | async" />

  <app-info-row
    key="Zpráva vytvořena"
    [value]="data.messageCreatedAt | localeDatePipe"
  />

  @if (data.content && data.content.length > 0) {
    <c-alert color="secondary" class="mt-2 mb-0">
      <pre class="m-0">{{ data.content }}</pre>
    </c-alert>
  }

  @if (data.embeds && data.embeds.length > 0) {
    <div class="mt-2">
      @for (embed of data.embeds; track $index) {
        <ng-container
          [ngTemplateOutlet]="embedCard"
          [ngTemplateOutletContext]="{ data: embed }"
        />
      }
    </div>
  }
</ng-template>

<ng-template #embedCard let-data="data">
  <c-card>
    <c-card-body>
      @if (data.title) {
        <app-info-row key="Titulek" [value]="data.title" />
      }

      <app-info-row key="Typ" [value]="data.type" />

      @if (data.imageInfo) {
        <app-info-row key="Obrázek" [value]="data.imageInfo" />
      }

      @if (data.videoInfo) {
        <app-info-row key="Video" [value]="data.videoInfo" />
      }

      @if (data.authorName) {
        <app-info-row key="Autor" [value]="data.authorName" />
      }

      @if (data.providerName) {
        <app-info-row key="Provider" [value]="data.providerName" />
      }

      @if (data.thumbnailInfo) {
        <app-info-row key="Thumbnail" [value]="data.thumbnailInfo" />
      }

      <div class="mt-2 mb-2">
        <app-checkbox
          [checkboxId]="'containsFooter'"
          [label]="'Obsahuje patičku'"
          [formControl]="data.containsFooter | asReadonlyFormControl"
        />
      </div>

      @for (field of data.fields; track $index) {
        <c-card class="mb-2">
          <c-card-body>
            <app-info-row key="Název" [value]="field.name" />
            <app-info-row key="Hodnota" [value]="field.value" />

            <div class="mt-2">
              <app-checkbox
                [checkboxId]="'Inline'"
                [label]="'Inline'"
                [formControl]="field.inline | asReadonlyFormControl"
              />
            </div>
          </c-card-body>
        </c-card>
      }
    </c-card-body>
  </c-card>
</ng-template>
