<c-container>
  <c-card class="mb-3">
    <c-card-body>
      @if (logItemRequest$() | withLoading | async; as response) {
        @if (response.loading) {
          <app-loading
            [center]="false"
            customText="Načítám záznam"
            [small]="true"
          />
        } @else if (!response.value) {
          <c-alert color="warning" class="mb-0">
            <div class="d-flex align-items-center">
              <svg cIcon name="cilWarning" size="xl" class="me-2"></svg>
              Bohužel se nepodařilo načíst informace o záznamu.
            </div>
          </c-alert>
        } @else {
          <app-info-row key="ID" [value]="response.value.id" />

          <app-info-row
            key="Vytvořeno"
            [value]="response.value.createdAt | localeDatePipe"
          />

          <app-info-row key="Typ" [value]="mapLogType(response.value.type)" />

          <div class="mt-2">
            @if (response.value.guildId) {
              <app-info-row
                key="Server"
                [value]="response.value.guildId | guildLookup | async"
              />
            }

            @if (response.value.userId) {
              <app-info-row
                key="Uživatel"
                [value]="response.value.userId | userLookup | async"
              />
            }

            @if (response.value.channelId) {
              <app-info-row
                key="Kanál"
                [value]="response.value.channelId | channelLookup | async"
              />
            }
          </div>
        }
      }
    </c-card-body>
  </c-card>

  <c-card class="mb-2">
    <c-card-body>
      @if (detailRequest$() | withLoading | async; as response) {
        @if (response.loading) {
          <app-loading
            [center]="false"
            customText="Načítám detail záznamu"
            [small]="true"
          />
        } @else if (!response.value) {
          <c-alert color="warning" class="mb-0">
            <div class="d-flex align-items-center">
              <svg cIcon name="cilWarning" size="xl" class="me-2"></svg>
              Bohužel se nepodařilo načíst detail záznamu.
            </div>
          </c-alert>
        } @else {
          @if ([1, 2, 3].includes(response.value.type)) {
            <app-detail-text [detail]="response.value" />
          }

          @switch (response.value.type) {
            @case (7) {
              <app-channel-updated [detail]="response.value" />
            }

            @case (11) {
              <app-overwrite-updated [detail]="response.value" />
            }

            @case (13) {
              <app-member-updated [detail]="response.value" />
            }

            @case (15) {
              <app-guild-updated [detail]="response.value" />
            }

            @case (19) {
              <app-message-deleted [detail]="response.value" />
            }

            @case (20) {
              <app-interaction-command [detail]="response.value" />
            }

            @case (21) {
              <app-thread-deleted [detail]="response.value" />
            }

            @case (22) {
              <app-job-completed [detail]="response.value" />
            }

            @case (24) {
              <app-thread-updated [detail]="response.value" />
            }

            @case (25) {
              <app-role-deleted [detail]="response.value" />
            }
          }
        }
      }
    </c-card-body>
  </c-card>
</c-container>
