<pre *ngIf="isText" class="mb-0 mt-0">{{data.text}}</pre>
<h5 *ngIf="!data">
    <i class="fas fa-exclamation-triangle"></i>
    Pro daný záznam se neexistuje žádný detail.
</h5>

<div class="mb-3" *ngIf="item.type === AuditLogItemType.MemberUpdated && data?.user">
    <span>
        <b>Uživatel: </b>
        <a routerLink="/admin/users/{{data.user.id}}" class="text-dark">{{data.user.username}}</a>
    </span>
</div>

<table class="table table-sm table-bordered mb-0" *ngIf="data && !isText">
    <thead>
        <tr>
            <th>Klíč</th>
            <th *ngIf="!isDiff">Hodnota</th>
            <th *ngIf="isDiff">Hodnota před</th>
            <th *ngIf="isDiff">Hodnota po</th>
        </tr>
    </thead>
    <tbody>
        <ng-container [ngSwitch]="item.type">
            <ng-container *ngSwitchCase="AuditLogItemType.ChannelUpdated">
                <ng-container *ngTemplateOutlet="channelUpdated"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AuditLogItemType.OverwriteUpdated">
                <ng-container *ngTemplateOutlet="overwriteUpdated"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AuditLogItemType.MemberUpdated">
                <ng-container *ngTemplateOutlet="memberUpdated"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AuditLogItemType.GuildUpdated">
                <ng-container *ngTemplateOutlet="guildUpdated"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AuditLogItemType.InteractionCommand">
                <ng-container *ngTemplateOutlet="interaction"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AuditLogItemType.ThreadDeleted">
                <ng-container *ngTemplateOutlet="threadDeleted"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AuditLogItemType.JobCompleted">
                <ng-container *ngTemplateOutlet="jobCompleted"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AuditLogItemType.API">
                <ng-container *ngTemplateOutlet="api"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AuditLogItemType.MessageDeleted">
                <ng-container *ngTemplateOutlet="messageDeleted"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AuditLogItemType.ThreadUpdated">
                <ng-container *ngTemplateOutlet="threadUpdated"></ng-container>
            </ng-container>
        </ng-container>
    </tbody>
</table>

<ng-template #interaction>
    <tr>
        <td>Příkaz</td>
        <td>{{data.fullName}}</td>
    </tr>

    <tr>
        <td>Dokončen úspěšně</td>
        <td>{{data.isSuccess | czechBooleanPipe}}</td>
    </tr>

    <tr>
        <td>Trvání</td>
        <td>{{data.duration | timeDuration}}</td>
    </tr>

    <ng-container *ngIf="!data.isSuccess">
        <tr>
            <td>Kód chyby</td>
            <td>{{data.commandError}}</td>
        </tr>

        <tr>
            <td>Chybové hlášení</td>
            <td>
                <pre>{{data.errorReason}}</pre>
            </td>
        </tr>
    </ng-container>

    <tr>
        <td>Bot odpověděl</td>
        <td>{{data.hasResponded | czechBooleanPipe}}</td>
    </tr>

    <tr>
        <td>Platný token</td>
        <td>{{data.isValidToken | czechBooleanPipe}}</td>
    </tr>

    <tr *ngIf="data.locale">
        <td>Jazyk</td>
        <td>{{data.locale}}</td>
    </tr>

    <tr *ngIf="data.parameters.length > 0">
        <td>Parametry</td>
        <td>
            <table class="table table-sm table-bordered auto-column-width mb-0">
                <tbody>
                    <tr *ngFor="let parameter of data.parameters">
                        <td>{{parameter.name}}</td>
                        <td>{{parameter.type}}</td>
                        <td>
                            <code>{{parameter.value}}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr *ngIf="data.exception">
        <td>Obsah chyby</td>
        <td>
            <pre class="alert alert-danger">{{data.exception}}</pre>
        </td>
    </tr>
</ng-template>

<ng-template #channelUpdated>
    <tr *ngIf="data.name && data.name.before != data.name.after">
        <td>Název</td>
        <td>{{data.name.before}}</td>
        <td>{{data.name.after}}</td>
    </tr>

    <tr *ngIf="data.slowMode && data.slowMode.before != data.slowMode.after">
        <td>SlowMode (vteřiny)</td>
        <td>{{data.slowMode.before}}</td>
        <td>{{data.slowMode.after}}</td>
    </tr>

    <tr *ngIf="data.isNsfw && data.isNsfw.before != data.isNsfw.after">
        <td>NSFW</td>
        <td>{{data.isNsfw.before | czechBooleanPipe}}</td>
        <td>{{data.isNsfw.after | czechBooleanPipe}}</td>
    </tr>

    <tr *ngIf="data.bitrate && data.bitrate.before != data.bitrate.after">
        <td>Bitrate (bps)</td>
        <td>{{data.bitrate.before}}</td>
        <td>{{data.bitrate.after}}</td>
    </tr>

    <tr *ngIf="data.topic && data.topic.before != data.topic.after">
        <td>Popis</td>
        <td>{{data.topic.before}}</td>
        <td>{{data.topic.after}}</td>
    </tr>

    <tr *ngIf="data.flags && data.flags.before != data.flags.after">
        <td>Příznaky</td>
        <td>{{data.flags.before}} ({{data.flags.before | bitmaskToString:32}})</td>
        <td>{{data.flags.after}} ({{data.flags.after | bitmaskToString:32}})</td>
    </tr>

    <tr *ngIf="data.position && data.position.before != data.position.after">
        <td>Pozice</td>
        <td>{{data.position.before.toLocaleString()}}</td>
        <td>{{data.position.after.toLocaleString()}}</td>
    </tr>
</ng-template>

<ng-template #overwriteUpdated>
    <tr *ngIf="data.user">
        <td>Cílový uživatel</td>
        <td colspan="2">
            <a routerLink="/admin/users/{{data.user.id}}" class="text-dark">{{data.user.username}}</a>
        </td>
    </tr>

    <tr *ngIf="data.role">
        <td>Cílová role</td>
        <td colspan="2">{{data.role.name}}</td>
    </tr>

    <tr>
        <td>Povolená oprávnění:</td>
        <td>{{data.allow.before.join(', ')}}</td>
        <td>{{data.allow.after.join(', ')}}</td>
    </tr>

    <tr>
        <td>Zakázaná oprávnění:</td>
        <td>{{data.deny.before.join(', ')}}</td>
        <td>{{data.deny.after.join(', ')}}</td>
    </tr>
</ng-template>

<ng-template #memberUpdated>
    <tr *ngIf="data.nickname">
        <td>Přezdívka</td>
        <td>{{data.nickname.before}}</td>
        <td>{{data.nickname.after}}</td>
    </tr>
    <tr *ngIf="data.isDeaf">
        <td>Umlčení (vč. poslechu)</td>
        <td>{{data.isDeaf.before | czechBooleanPipe}}</td>
        <td>{{data.isDeaf.after | czechBooleanPipe}}</td>
    </tr>
    <tr *ngIf="data.isMuted">
        <td>Umlčen (mikrofon)</td>
        <td>{{data.isMuted.before | czechBooleanPipe}}</td>
        <td>{{data.isMuted.after | czechBooleanPipe}}</td>
    </tr>
    <tr *ngIf="data.selfUnverifyMinimalTime">
        <td>Minimální čas SelfUnverify</td>
        <td>{{data.selfUnverifyMinimalTime.before}}</td>
        <td>{{data.selfUnverifyMinimalTime.after}}</td>
    </tr>
    <tr *ngIf="data.flags">
        <td>Příznaky</td>
        <td>{{data.flags.before}} ({{data.flags.before | bitmaskToString:32}})</td>
        <td>{{data.flags.after}} ({{data.flags.after | bitmaskToString:32}})</td>
    </tr>
</ng-template>

<ng-template #guildUpdated>
    <tr *ngIf="data.defaultMessageNotifications">
        <td>Výchozí upozornění</td>
        <td>
            <ng-container [ngSwitch]="data.defaultMessageNotifications.before">
                <ng-container *ngSwitchCase="0">Všechny zprávy</ng-container>
                <ng-container *ngSwitchCase="1">Pouze označení</ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container [ngSwitch]="data.defaultMessageNotifications.after">
                <ng-container *ngSwitchCase="0">Všechny zprávy</ng-container>
                <ng-container *ngSwitchCase="1">Pouze označení</ng-container>
            </ng-container>
        </td>
    </tr>

    <tr *ngIf="data.description">
        <td>Popis</td>
        <td>{{data.description.before}}</td>
        <td>{{data.description.after}}</td>
    </tr>

    <tr *ngIf="data.vanityUrl">
        <td>Vanity URL</td>
        <td>{{data.vanityUrl.before}}</td>
        <td>{{data.vanityUrl.after}}</td>
    </tr>

    <tr *ngIf="data.bannerId">
        <td>Banner ID</td>
        <td>{{data.bannerId.before}}</td>
        <td>{{data.bannerId.after}}</td>
    </tr>

    <tr *ngIf="data.discoverySplashId">
        <td>ID komunitního pozadí</td>
        <td>{{data.discoverySplashId.before}}</td>
        <td>{{data.discoverySplashId.after}}</td>
    </tr>

    <tr *ngIf="data.splashId">
        <td>ID pozadí pozvánky</td>
        <td>{{data.splashId.before}}</td>
        <td>{{data.splashId.after}}</td>
    </tr>

    <tr *ngIf="data.iconId">
        <td>ID ikony</td>
        <td>{{data.iconId.before}}</td>
        <td>{{data.iconId.after}}</td>
    </tr>

    <tr *ngIf="data.iconData && (data.iconData.before || data.iconData.after)">
        <td>Ikona</td>
        <td>
            <img *ngIf="data.iconData.before" [src]="'data:image/png;base64, ' + data.iconData.before" alt="GuildUpdated-Icon-Before" />
        </td>
        <td>
            <img *ngIf="data.iconData.after" [src]="'data:image/png;base64, ' + data.iconData.after" alt="GuildUpdated-Icon-After" />
        </td>
    </tr>

    <tr *ngIf="data.publicUpdatesChannelId">
        <td>Kanál na novinky</td>
        <td>
            <a routerLink="/admin/channels/{{data.publicUpdatesChannelId.before}}"
                class="text-dark">{{data.publicUpdatesChannelId.before}}</a>
        </td>
        <td>
            <a routerLink="/admin/channels/{{data.publicUpdatesChannelId.after}}"
                class="text-dark">{{data.publicUpdatesChannelId.after}}</a>
        </td>
    </tr>

    <tr *ngIf="data.rulesChannelId">
        <td>Kanál s pravidly</td>
        <td>
            <a routerLink="/admin/channels/{{data.rulesChannelId.before}}" class="text-dark">{{data.rulesChannelId.before}}</a>
        </td>
        <td>
            <a routerLink="/admin/channels/{{data.rulesChannelId.after}}" class="text-dark">{{data.rulesChannelId.after}}</a>
        </td>
    </tr>

    <tr *ngIf="data.systemChannelId">
        <td>Systémový kanál</td>
        <td>
            <a routerLink="/admin/channels/{{data.systemChannelId.before}}" class="text-dark">{{data.systemChannelId.before}}</a>
        </td>
        <td>
            <a routerLink="/admin/channels/{{data.systemChannelId.after}}" class="text-dark">{{data.systemChannelId.after}}</a>
        </td>
    </tr>

    <tr *ngIf="data.afkChannelId">
        <td>AFK kanál</td>
        <td>
            <a routerLink="/admin/channels/{{data.afkChannelId.before}}" class="text-dark">{{data.afkChannelId.before}}</a>
        </td>
        <td>
            <a routerLink="/admin/channels/{{data.afkChannelId.after}}" class="text-dark">{{data.afkChannelId.after}}</a>
        </td>
    </tr>

    <tr *ngIf="data.afkTimeout">
        <td>AFK timeout (vteřiny)</td>
        <td>{{data.afkTimeout.before}}</td>
        <td>{{data.afkTimeout.after}}</td>
    </tr>

    <tr *ngIf="data.name">
        <td>Název</td>
        <td>{{data.name.before}}</td>
        <td>{{data.name.after}}</td>
    </tr>

    <tr *ngIf="data.mfaLevel">
        <td>2FA úroveň</td>
        <td>
            <ng-container [ngSwitch]="data.mfaLevel.before">
                <ng-container *ngSwitchCase="0">Vypnuto</ng-container>
                <ng-container *ngSwitchCase="1">Zapnuto</ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container [ngSwitch]="data.mfaLevel.after">
                <ng-container *ngSwitchCase="0">Vypnuto</ng-container>
                <ng-container *ngSwitchCase="1">Zapnuto</ng-container>
            </ng-container>
        </td>
    </tr>

    <tr *ngIf="data.verificationLevel">
        <td>Úroveň ověření</td>
        <td>
            <ng-container [ngSwitch]="data.verificationLevel.before">
                <ng-container *ngSwitchCase="0">Žádná</ng-container>
                <ng-container *ngSwitchCase="1">Nízká</ng-container>
                <ng-container *ngSwitchCase="2">Střední</ng-container>
                <ng-container *ngSwitchCase="3">Vysoká</ng-container>
                <ng-container *ngSwitchCase="4">Extrémní</ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container [ngSwitch]="data.verificationLevel.after">
                <ng-container *ngSwitchCase="0">Žádná</ng-container>
                <ng-container *ngSwitchCase="1">Nízká</ng-container>
                <ng-container *ngSwitchCase="2">Střední</ng-container>
                <ng-container *ngSwitchCase="3">Vysoká</ng-container>
                <ng-container *ngSwitchCase="4">Extrémní</ng-container>
            </ng-container>
        </td>
    </tr>

    <tr *ngIf="data.explicitContentFilter">
        <td>Filtr explicitního obsahu</td>
        <td>
            <ng-container [ngSwitch]="data.explicitContentFilter.before">
                <ng-container *ngSwitchCase="0">Vypnuto</ng-container>
                <ng-container *ngSwitchCase="1">Uživatelé bez rolí</ng-container>
                <ng-container *ngSwitchCase="2">Všichni uživatelé</ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container [ngSwitch]="data.explicitContentFilter.after">
                <ng-container *ngSwitchCase="0">Vypnuto</ng-container>
                <ng-container *ngSwitchCase="1">Uživatelé bez rolí</ng-container>
                <ng-container *ngSwitchCase="2">Všichni uživatelé</ng-container>
            </ng-container>
        </td>
    </tr>

    <tr *ngIf="data.features">
        <td>Funkcionalita</td>
        <td>{{data.features.before | bitmaskToString:64}}</td>
        <td>{{data.features.after | bitmaskToString:64}}</td>
    </tr>

    <tr *ngIf="data.premiumTier">
        <td>Úroveň vylepšení</td>
        <td>
            <ng-container [ngSwitch]="data.premiumTier.before">
                <ng-container *ngSwitchCase="0">Žádná úroveň</ng-container>
                <ng-container *ngSwitchCase="1">Tier1</ng-container>
                <ng-container *ngSwitchCase="2">Tier2</ng-container>
                <ng-container *ngSwitchCase="2">Tier3</ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container [ngSwitch]="data.premiumTier.after">
                <ng-container *ngSwitchCase="0">Žádná úroveň</ng-container>
                <ng-container *ngSwitchCase="1">Tier1</ng-container>
                <ng-container *ngSwitchCase="2">Tier2</ng-container>
                <ng-container *ngSwitchCase="2">Tier3</ng-container>
            </ng-container>
        </td>
    </tr>

    <tr *ngIf="data.systemChannelFlags">
        <td>Nastavení systémového kanálu</td>
        <td>{{data.systemChannelFlags.before | bitmaskToString:64}}</td>
        <td>{{data.systemChannelFlags.after | bitmaskToString:64}}</td>
    </tr>

    <tr *ngIf="data.nsfwLevel">
        <td>Úroveň NSFW</td>
        <td>
            <ng-container [ngSwitch]="data.nsfwLevel.before">
                <ng-container *ngSwitchCase="0">Výchozí</ng-container>
                <ng-container *ngSwitchCase="1">Explicitní</ng-container>
                <ng-container *ngSwitchCase="2">Bezpečný</ng-container>
                <ng-container *ngSwitchCase="3">Věkově omezený</ng-container>
            </ng-container>
        </td>
        <td>
            <ng-container [ngSwitch]="data.nsfwLevel.after">
                <ng-container *ngSwitchCase="0">Výchozí</ng-container>
                <ng-container *ngSwitchCase="1">Explicitní</ng-container>
                <ng-container *ngSwitchCase="2">Bezpečný</ng-container>
                <ng-container *ngSwitchCase="3">Věkově omezený</ng-container>
            </ng-container>
        </td>
    </tr>
</ng-template>

<ng-template #threadDeleted>
    <tr>
        <td>Název</td>
        <td>{{data.name}}</td>
    </tr>

    <tr>
        <td>Typ</td>
        <td>
            <ng-container [ngSwitch]="data.type">
                <ng-container *ngSwitchCase="10">Novinky</ng-container>
                <ng-container *ngSwitchCase="11">Veřejné vlákno</ng-container>
                <ng-container *ngSwitchCase="12">Soukromé vlákno</ng-container>
            </ng-container>
        </td>
    </tr>

    <tr *ngIf="data.slowMode != undefined">
        <td>SlowMode (vteřiny)</td>
        <td>{{data.slowMode}}</td>
    </tr>

    <tr>
        <td>Doba archivace</td>
        <td>
            <ng-container [ngSwitch]="data.archivedDuration">
                <ng-container *ngSwitchCase="60">1 hodina</ng-container>
                <ng-container *ngSwitchCase="1440">24 hodin</ng-container>
                <ng-container *ngSwitchCase="4320">3 dny</ng-container>
                <ng-container *ngSwitchCase="10080">1 týden</ng-container>
            </ng-container>
        </td>
    </tr>

    <tr>
        <td>Archivován</td>
        <td>{{data.isArchived | czechBooleanPipe}}</td>
    </tr>

    <tr>
        <td>Uzamčen</td>
        <td>{{data.isLocked | czechBooleanPipe}}</td>
    </tr>
</ng-template>

<ng-template #jobCompleted>
    <tr>
        <td>Název</td>
        <td>{{data.jobName}}</td>
    </tr>

    <tr>
        <td>Začátek</td>
        <td>{{data.startAt | dateTimeFormatter}}</td>
    </tr>

    <tr>
        <td>Dokončeno</td>
        <td>{{data.endAt | dateTimeFormatter}}</td>
    </tr>

    <tr>
        <td>Trvání</td>
        <td>{{data.endAt | duration:data.startAt | timeDuration}}</td>
    </tr>

    <tr *ngIf="data.startingUser">
        <td>Spustil</td>
        <td>
            <a *ngIf="data.startingUser.id" routerLink="/admin/users/{{data.startingUser.id}}"
                class="text-dark">{{data.startingUser.username}}</a>
        </td>
    </tr>

    <tr>
        <td>Došlo k chybě</td>
        <td>{{data.wasError | czechBooleanPipe}}</td>
    </tr>

    <tr *ngIf="data.result">
        <td>Výsledek</td>
        <td>
            <pre class="pt-2 pb-2 alert alert-{{(data.wasError ? 'danger' : 'success')}}">{{data.result}}</pre>
        </td>
    </tr>
</ng-template>

<ng-template #api>
    <tr>
        <td>Controller</td>
        <td>{{data.controllerName}}</td>
    </tr>

    <tr>
        <td>Akce</td>
        <td>{{data.actionName}}</td>
    </tr>

    <tr>
        <td>URL</td>
        <td>{{data.path}}</td>
    </tr>

    <tr>
        <td>Šablona URL</td>
        <td>{{data.templatePath}}</td>
    </tr>

    <tr *ngIf="data.result">
        <td>Výsledek</td>
        <td>{{data.result}}</td>
    </tr>

    <tr>
        <td>Začátek</td>
        <td>{{data.startAt | dateTimeFormatter}}</td>
    </tr>

    <tr>
        <td>Konec</td>
        <td>{{data.endAt | dateTimeFormatter}}</td>
    </tr>

    <tr>
        <td>Trvání</td>
        <td>{{data.endAt | duration:data.startAt | timeDuration}}</td>
    </tr>

    <tr>
        <td>Jazyk</td>
        <td>{{data.language}}</td>
    </tr>

    <tr>
        <td>Verze API</td>
        <td>{{data.apiGroupName}}</td>
    </tr>

    <tr>
        <td>Otisk volajícího</td>
        <td>{{data.identification}}</td>
    </tr>

    <tr>
        <td>IP adresa</td>
        <td>{{data.ip}}</td>
    </tr>

    <tr *ngIf="data.parameters && Object.keys(data.parameters).length > 0">
        <td>Parametry</td>
        <td>
            <table class="table table-sm table-bordered auto-column-width mb-0">
                <tbody>
                    <tr *ngFor="let param of data.parameters | keyvalue">
                        <td>{{param.key}}</td>
                        <td>
                            <code>{{param.value}}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr *ngIf="data.headers && Object.keys(data.headers).length > 0">
        <td>Hlavičky</td>
        <td>
            <table class="table table-sm table-bordered auto-column-width mb-0">
                <tbody>
                    <tr *ngFor="let header of data.headers | keyvalue">
                        <td>{{header.key}}</td>
                        <td>
                            <code>{{header.value}}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</ng-template>

<ng-template #messageDeleted>
    <tr>
        <td>Vytvořeno</td>
        <td>{{data.messageCreatedAt | dateTimeFormatter}}</td>
    </tr>

    <tr>
        <td>Autor</td>
        <td>
            <a *ngIf="data.author.id" routerLink="/admin/users/{{data.author.id}}" class="text-dark">{{data.author.username}}</a>
        </td>
    </tr>

    <tr *ngIf="data.content">
        <td>Obsah</td>
        <td>
            <pre class="alert alert-secondary">{{data.content}}</pre>
        </td>
    </tr>

    <tr *ngIf="data.embeds">
        <td>Embedy</td>
        <td>
            <table class="table table-sm table-bordered" *ngFor="let embed of data.embeds; let i = index">
                <thead>
                    <tr>
                        <th colspan="2">
                            #{{i}} -
                            <ng-container *ngIf="embed.title">{{embed.title}}</ng-container>
                            ({{embed.type}})
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="embed.imageInfo">
                        <td>Obrázek</td>
                        <td>
                            <code>{{embed.imageInfo}}</code>
                        </td>
                    </tr>

                    <tr *ngIf="embed.videoInfo">
                        <td>Video</td>
                        <td><code>{{embed.videoInfo}}</code></td>
                    </tr>

                    <tr *ngIf="embed.authorName">
                        <td>Autor</td>
                        <td>{{embed.authorName}}</td>
                    </tr>

                    <tr>
                        <td>Obsahuje patičku</td>
                        <td>{{embed.containsFooter | czechBooleanPipe}}</td>
                    </tr>

                    <tr *ngIf="embed.providerName">
                        <td>Poskytovatel</td>
                        <td>{{embed.providerName}}</td>
                    </tr>

                    <tr *ngIf="embed.thumbnailInfo">
                        <td>Náhled</td>
                        <td><code>{{embed.thumbnailInfo}}</code></td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <app-card [header]="false" *ngFor="let field of embed.fields; let i = index" [classes]="['mb-2']"
                                [bodyClasses]="['p-2']">
                                <h6>#{{i}} - {{field.name}} <span *ngIf="field.inline">- Inline</span></h6>
                                <pre class="alert alert-secondary">{{field.value}}</pre>
                            </app-card>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</ng-template>

<ng-template #threadUpdated>
    <tr *ngIf="data.tags">
        <td>Tagy</td>
        <td>
            <span *ngFor="let tag of data.tags.before" class="badge bg-dark me-1">{{tag}}</span>
        </td>
        <td>
            <span *ngFor="let tag of data.tags.after" class="badge bg-dark me-1">{{tag}}</span>
        </td>
    </tr>
</ng-template>
