<app-card #card [title]="'Seznam uživatelů'" [icon]="'fas fa-user'">
    <app-data-list #list (readData)="readData($event)" [parentCard]="card">
        <app-loading *ngIf="!list.isDataLoaded"></app-loading>

        <table class="table table-bordered table-sm auto-column-width table-striped" *ngIf="list.isDataLoaded">
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Uživatel</th>
                    <th>Aktivní body</th>
                    <th title="Expirované body, které ještě nebyly sloučeny.">Expirované body</th>
                    <th>Sloučené body</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list.items" [class.bg-danger]="item.pointsDeactivated">
                    <td>
                        <a routerLink="/admin/servers/{{item.guild.id}}" class="text-dark">{{item.guild.name}}</a>
                    </td>
                    <td>
                        <a routerLink="/admin/users/{{item.user.id}}" class="text-dark">{{item.user.displayName}}</a>
                    </td>
                    <td>{{item.activePoints | numberWithSpaces}}</td>
                    <td>{{item.expiredPoints | numberWithSpaces}}</td>
                    <td>{{item.mergedPoints | numberWithSpaces}}</td>
                </tr>
                <tr *ngIf="list.isEmpty">
                    <td [attr.colspan]="5">Nebyly nalezeni žádní uživatelé.</td>
                </tr>
            </tbody>
        </table>
    </app-data-list>
</app-card>
