@if (label()) {
  <label cLabel>{{ label() }}</label>
}

@if (multiline()) {
  <textarea
    cFormControl
    [disabled]="disabled()"
    (input)="onInput($event)"
    (blur)="onBlur()"
    [sizing]="sizing()"
    [attr.autocomplete]="autocomplete() ? 'on' : 'off'"
    style="height: 150px"
    [ngClass]="controlClasses"
    >{{ value() ?? "" }}</textarea
  >
} @else {
  <input
    cFormControl
    type="text"
    [value]="value() ?? ''"
    [disabled]="disabled()"
    (input)="onInput($event)"
    (blur)="onBlur()"
    [sizing]="sizing()"
    [attr.autocomplete]="autocomplete() ? 'on' : 'off'"
    [ngClass]="controlClasses"
  />
}

@if (validators()) {
  <app-validation-errors [formControlObject]="ngControl.control!" />
}
