<label cLabel>{{ label() }}</label>

@if (multiline()) {
  <textarea
    cFormControl
    [formControl]="formControlElement()"
    [sizing]="sizing()"
    [attr.autocomplete]="autocomplete() ? 'on' : 'off'"
    style="height: 150px"
  ></textarea>
} @else {
  <input
    cFormControl
    [formControl]="formControlElement()"
    type="text"
    [sizing]="sizing()"
    [attr.autocomplete]="autocomplete() ? 'on' : 'off'"
  />
}

@if (hasValidations()) {
  <app-validation-errors [formControlObject]="formControlElement()" />
}
