<div class="mb-3">
  <app-paginated-grid
    #grid
    [gridOptions]="gridOptions"
    [height]="'800px'"
    (reloadRequested)="reload()"
  />
</div>

<app-modal #detailModal title="Podrobnosti návrhu">
  <ng-container body>
    @if (rowInModal) {
      <app-info-row key="ID" [value]="rowInModal.id" />

      <app-info-row
        key="Server"
        [value]="rowInModal.guildId | guildLookup | async"
      />

      <app-info-row
        key="Od uživatele"
        [value]="rowInModal.fromUserId | userLookup | async"
      />

      <app-info-row key="Název" [value]="rowInModal.name" />

      <app-info-row
        key="Navrhnuto"
        [value]="rowInModal.suggestedAtUtc | localeDatePipe"
      />

      <app-info-row
        key="ID notifikační zprávy"
        [value]="rowInModal.notificationMessageId"
      />

      <div class="mt-3 border-top">
        <b>Schválení</b>

        <div class="mb-2">
          <app-checkbox
            checkboxId="approvedForVote"
            [formControl]="rowInModal.approvedForVote | asReadonlyFormControl"
            [label]="rowInModal.approvedForVote ? 'Schváleno' : 'Zamítnuto'"
          />
        </div>

        @if (
          rowInModal.approvalUserId && rowInModal.approvalUserId.length > 0
        ) {
          <app-info-row
            key="Schvalovatel"
            [value]="rowInModal.approvalUserId | userLookup | async"
          />
        }

        @if (rowInModal.approvedAtUtc) {
          <app-info-row
            key="Posl. schválení"
            [value]="rowInModal.approvedAtUtc | localeDatePipe"
          />
        }
      </div>

      @if (rowInModal.voteStartAt) {
        <div class="mt-3 border-top">
          <b>Hlasování</b>

          <app-info-row
            key="Zahájeno"
            [value]="rowInModal.voteStartAt | localeDatePipe"
          />

          @if (rowInModal.voteEndAt) {
            <app-info-row
              key="Předpokládaný konec"
              [value]="rowInModal.voteEndAt | localeDatePipe"
            />
          }

          @if (rowInModal.voteKilledAt) {
            <app-info-row
              key="Předčasně ukončeno"
              [value]="rowInModal.voteKilledAt | localeDatePipe"
            />
          }

          @if (rowInModal.upVotes != undefined) {
            <app-info-row
              key="Pozitivních hlasů"
              [value]="rowInModal.upVotes | spacedNumber"
            />
          }

          @if (rowInModal.downVotes != undefined) {
            <app-info-row
              key="Negativních hlasů"
              [value]="rowInModal.downVotes | spacedNumber"
            />
          }
        </div>
      }

      <c-row class="mt-3">
        <c-col>
          <b>Důvod přidání</b>:
          <textarea cFormControl disabled style="height: 150px">{{
            rowInModal.reasonToAdd
          }}</textarea>
        </c-col>

        <c-col md="4">
          <b>Náhled:</b>

          <div class="d-flex align-items-center justify-content-center h-100">
            @if (emotePreview$) {
              @if (emotePreview$ | withLoading | async; as emotePreview) {
                <app-loading
                  [small]="true"
                  [center]="true"
                  [visible]="emotePreview.loading"
                />

                @if (!emotePreview.loading) {
                  <img
                    [src]="emotePreview.value"
                    [attr.alt]="rowInModal.name"
                    style="width: 128px; height: 128px"
                  />
                }
              }
            }
          </div>
        </c-col>
      </c-row>
    }
  </ng-container>
</app-modal>

<app-modal #cancelVoteModal title="Zrušení hlasování" [enableFooter]="true">
  <ng-container body>Opravdu si přejete zrušit hlasování?</ng-container>

  <ng-container footer>
    <button
      cButton
      [variant]="'outline'"
      [color]="'success'"
      (click)="cancelVote()"
    >
      Ano
    </button>

    <button
      cButton
      [variant]="'outline'"
      [color]="'danger'"
      (click)="cancelVoteModal.close()"
    >
      Ne
    </button>
  </ng-container>
</app-modal>

<app-modal
  #approveModal
  [title]="
    (rowInModal?.approvedForVote ? 'Zamítnutí' : 'Schválení') + 'k hlasování'
  "
  [enableFooter]="true"
>
  <ng-container body>
    Opravdu si přejete

    @if (rowInModal?.approvedForVote) {
      zamítnout
    } @else {
      schválit
    }

    emote k hlasování?
  </ng-container>

  <ng-container footer>
    <button
      cButton
      [variant]="'outline'"
      [color]="'success'"
      (click)="processApproval()"
    >
      Ano
    </button>

    <button
      cButton
      [variant]="'outline'"
      [color]="'danger'"
      (click)="cancelVoteModal.close()"
    >
      Ne
    </button>
  </ng-container>
</app-modal>
